<p>Vi har f&aring;tt i oppdrag &aring; selge f&oslash;lgende eiendom:</p>

<p>Adresse:&nbsp;[[eiendom.gatenavnognr]], [[eiendom.postnr]] [[eiendom.poststed]]</p>

<p>Hjemmelshaver til eiendommen er:&nbsp;[[selger.navnutenfullmektigogkontaktperson]]</p>

<p>Eiendom:&nbsp;[[komplettmatrikkelutvidet]] i [[eiendom.kommunenavn]] kommune.</p>

<p>Iht. eiendomsmeglingslovens &sect; 6-7 er eiendomsmegler p&aring;lagt &aring; videreformidle opplysninger som vil ha betydning for salget av boligen.</p>

<p>Dersom det er opplysninger eller forhold sameiet eller styret kjenner til som kj&oslash;per b&oslash;r ha kjennskap til, anmoder vi om en skriftlig tilbakemelding med informasjon om dette.</p>

<p>Ser frem til en snarlig tilbakemelding</p>