<div id="vitecTemplate">
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

        body {
            margin: 0;
            padding: 0;
        }

        #vitecTemplate * {
            font-variant-ligatures: none;
        }

        #vitecTemplate ol {
            margin: 10px 0 10px 12px;
            padding: 0;
            font-family: 'Open sans', sans-serif;
            font-size: 8pt;
            line-height: 10pt;
        }

            #vitecTemplate ol > li {
                list-style-position: outside;
                margin: 0;
                padding: 0;
                font-family: 'Open sans', sans-serif;
                font-size: 8pt;
                line-height: 10pt;
            }

        #vitecTemplate p {
            font-family: 'Open sans', sans-serif;
            font-size: 8pt;
            line-height: 10pt;
        }

        #vitecTemplate strong {
            font-family: 'Open sans', sans-serif;
            font-size: 8pt;
            line-height: 10pt;
            font-weight: 700;
        }

        #vitecTemplate table {
            margin: 0;
            padding: 0;
            width: 100%;
            border-collapse: collapse;
            font-family: 'Open sans', sans-serif;
            font-size: 8pt;
            line-height: 10pt;
        }

        #vitecTemplate tr th,
        #vitecTemplate tr td {
            vertical-align: middle;
            border: solid 1px #000;
            font-family: 'Open sans', sans-serif;
            font-size: 8pt;
            line-height: 10pt;
        }

        #vitecTemplate td p,
        #vitecTemplate td.no-border p {
            margin-top: 0;
            margin-bottom: 0;
        }

        #vitecTemplate td.border-right {
            border-right: solid 1px #959595;
        }

        #vitecTemplate tr.no-border td {
            border: none;
        }

            #vitecTemplate tr.no-border td:first-child {
                border-left: solid 1px #000;
            }

            #vitecTemplate tr.no-border td:last-child {
                border-right: solid 1px #000;
            }

        #vitecTemplate tr.border-bottom td {
            border: none;
            border-bottom: solid 1px #000;
        }

            #vitecTemplate tr.border-bottom td:first-child {
                border-left: solid 1px #000;
            }


            #vitecTemplate tr.border-bottom td:last-child {
                border-right: solid 1px #000;
            }

        #vitecTemplate td.no-border {
            border: none;
        }

        #vitecTemplate td.row-header {
            font-size: 9pt;
            font-weight: bold;
            background-color: #ccffcc;
            height: .35cm;
        }

        #vitecTemplate td[data-label]:before {
            content: attr(data-label);
            text-align: left;
            color: #333;
            font-size: 7pt;
            line-height: 8pt;
            text-transform: uppercase;
            display: block;
            position: absolute;
            top: 1px;
            white-space: nowrap;
        }


        #vitecTemplate td[data-choice]:after {
            content: attr(data-choice);
            text-align: center;
            font-size: 7pt;
            line-height: 8pt;
            color: #333;
            display: block;
            position: absolute;
            bottom: 1px;
            left: 0;
            right: 0;
            text-transform: uppercase;
        }

        #vitecTemplate td[data-label] {
            padding: 16px 2px 4px 2px;
            position: relative;
        }

        #vitecTemplate td[data-choice] {
            padding: 4px 2px 16px 2px;
            position: relative;
        }
        /* tabellceller med BÅDE label og valg-tekst */
        #vitecTemplate td[data-label][data-choice] {
            padding: 16px 2px 16px 2px;
            position: relative;
        }


        /* Malredigering: Hindre placeholder-plugin fra å sprenge tabell-celler (matrikkel-rad)*/
        .cke_widget_inline {
            white-space: pre-wrap;
            word-break: break-all;
        }

        #vitecTemplate [contenteditable="false"] * {
            user-select: none;
        }

        #vitecTemplate .foreach-list td {
            min-height: 34px;
            vertical-align: top;
        }

        #vitecTemplate .foreach-list ul {
            list-style: none;
            margin: 0 0 0 2px;
            padding: 0;
            min-height: 13px; /* min-height when empty forech-loop */
        }

            #vitecTemplate .foreach-list ul li {
                padding: 0;
                margin: 0;
                min-height: 16px;
                line-height: normal;
            }

        #vitecTemplate > div > p {
            margin-top: 10px;
            font-family: 'Open sans', sans-serif;
            font-size: 8pt;
            line-height: 10pt;
        }
        /* tabellceller med lange data-choice-tekster */

        #vitecTemplate tr.checkbox-row td[data-choice] {
            padding-bottom: 24px;
        }

        /* Malredigering: Hindre placeholder-plugin fra å sprenge tabell-celler (matrikkel-rad)*/
        .cke_widget_inline {
            white-space: pre-wrap;
            word-break: break-all;
        }

        #vitecTemplate [contenteditable="false"] * {
            user-select: none;
        }

        #vitecTemplate .foreach-list td {
            min-height: 34px;
            vertical-align: top;
        }

        #vitecTemplate .foreach-list ul {
            list-style: none;
            margin: 0;
            padding: 0;
            min-height: 13px; /* min-height when empty forech-loop */
        }

            #vitecTemplate .foreach-list ul li {
                padding: 0;
                margin: 0;
                min-height: 16px;
                line-height: normal;
            }
    </style>
    <style type="text/css">
        /* Klikkbare sjekkbokser og radioknapper */
        label.btn {
            display: inline;
            text-transform: none;
            white-space: normal;
            padding: 0;
            vertical-align: baseline;
            outline: none;
            font-size: inherit;
        }

            label.btn:active,
            label.btn.active {
                box-shadow: none;
                outline: none;
            }

        .svg-toggle { /* nullstiller bootstrap button-styling */
            display: inline-block !important;
            width: 13px;
            height: 13px;
            margin: 0 5px;
            vertical-align: bottom;
            padding: 0;
            border: none;
            background: transparent;
            border-radius: 0;
            box-shadow: none !important;
            cursor: pointer;
            white-space: normal;
            text-align: left;
            background-repeat: no-repeat;
            background-size: 13px 13px;
            background-position: center center;
        }


            .svg-toggle.checkbox {
                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><rect style='fill:black;' height='496' width='496' x='9.1' y='9.1'></rect><rect style='fill:white;' height='400' width='400' x='57.1' y='60.6'></rect></svg>");
            }

                .svg-toggle.checkbox.active,
                .btn.active > .svg-toggle.checkbox {
                    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><rect style='fill:black;' height='496' width='496' x='9.1' y='9.1'></rect><rect style='fill:white;' height='400' width='400' x='57.1' y='60.6'></rect><path style='fill:black;' d='M396.1,189.9L223.5,361.1c-4.7,4.7-12.3,4.6-17-0.1l-90.8-91.5c-4.7-4.7-4.6-12.3,0.1-17l22.7-22.5c4.7-4.7,12.3-4.6,17,0.1 l59.8,60.3l141.4-140.2c4.7-4.7,12.3-4.6,17,0.1l22.5,22.7C400.9,177.7,400.8,185.3,396.1,189.9L396.1,189.9z'></path></svg>");
                    box-shadow: none !important;
                }

            .svg-toggle.radio {
                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><circle style='fill:black;' cx='257.1' cy='257.1' r='248'></circle><circle style='fill:white;' cx='257.1' cy='257.1' r='200'></circle></svg>");
            }

                .svg-toggle.radio.active,
                .btn.active > .svg-toggle.radio {
                    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><circle style='fill:black;' cx='257.1' cy='257.1' r='248'></circle><circle style='fill:white;' cx='257.1' cy='257.1' r='200'></circle><circle style='fill:black;' cx='257.1' cy='257.1' r='91.5'></circle></svg>");
                    box-shadow: none !important;
                }

        /* radioknapper skal ikke vises i PDF der bootstrap-styling ikke lastes inn */
        #vitecTemplate [data-toggle="buttons"] input {
            display: none;
        }
    </style>
    <table style="table-layout:fixed; width:100%">
        <tbody>
            <tr>
                <td class="border-right" colspan="50" data-label="Innsenders navn:">[[skjema.innsender.navn]]</td>
                <td class="no-border" colspan="50" contenteditable="false" rowspan="4" style="padding:0 40px 0 40px">
                    <p style="font-size:14pt; font-weight:bold; line-height:18pt">Hjemmelserkl&aelig;ring i forbindelse med arv/skifte/uskifte</p>

                    <p style="font-size:12pt; font-weight:bold; line-height:18pt; padding-top:5px" vitec-if="Model.eiendom.eieform == &quot;Andel&quot;">Andel i borettslag</p>
                </td>
            </tr>
            <tr>
                <td colspan="50" data-label="Adresse:">[[skjema.innsender.adresse]]</td>
            </tr>
            <tr>
                <td colspan="10" data-label="Postnr:">[[skjema.innsender.postnr]]</td>
                <td colspan="40" data-label="Poststed:">[[skjema.innsender.poststed]]</td>
            </tr>
            <tr>
                <td colspan="30" data-label="Fødselsnr./Org.nr.">[[skjema.innsender.orgnr]]</td>
                <td colspan="20" data-label="Ref.nr.">[[skjema.referansenr]]</td>
            </tr>
            <tr contenteditable="false">
                <td class="no-border" colspan="50">&nbsp;</td>
                <td class="no-border" colspan="50" style="border-bottom:solid 1px #000000">&nbsp;</td>
            </tr>
            <tr contenteditable="false">
                <td class="row-header" colspan="100">1. <span vitec-if="Model.eiendom.eieform != &quot;Andel&quot;">Eiendommen(e)<sup style="font-size: 5pt; font-weight: normal">1)</sup></span><span vitec-if="Model.eiendom.eieform == &quot;Andel&quot;">Andel</span></td>
            </tr>
            <tr class="foreach-list" vitec-if="Model.eiendom.eieform != &quot;Andel&quot;">
                <td colspan="10" data-label="Kommunenr.">
                    <ul vitec-foreach="matrikkel in Model.matrikler">
                        <li>[[eiendom.kommunenr]]</li>
                    </ul>
                </td>
                <td colspan="35" data-label="Kommunenavn">
                    <ul vitec-foreach="matrikkel in Model.matrikler">
                        <li>[[eiendom.kommunenavn]]</li>
                    </ul>
                </td>
                <td colspan="10" data-label="Gnr.">
                    <ul vitec-foreach="matrikkel in Model.matrikler">
                        <li>[[*matrikkel.gnr]]</li>
                    </ul>
                </td>
                <td colspan="10" data-label="Bnr.">
                    <ul vitec-foreach="matrikkel in Model.matrikler">
                        <li>[[*matrikkel.bnr]]</li>
                    </ul>
                </td>
                <td colspan="10" data-label="Festenr.">
                    <ul vitec-foreach="matrikkel in Model.matrikler">
                        <li>[[*matrikkel.fnr]]</li>
                    </ul>
                </td>
                <td colspan="12" data-label="Seksjonsnr.">
                    <ul vitec-foreach="matrikkel in Model.matrikler">
                        <li>[[*matrikkel.snr]]</li>
                    </ul>
                </td>
                <td colspan="13" data-label="Ideell andel">
                    <ul vitec-foreach="matrikkel in Model.matrikler">
                        <li>[[*matrikkel.andel]]</li>
                    </ul>
                </td>
            </tr>
            <!-- @{
                var erTomtetypeEiertomt="";
                var erTomtetypeFestetomt ="";
                if (Model.eiendom.tomtetype == "eiertomt") {
                    erTomtetypeEiertomt = "active";
                    } else if (Model.eiendom.tomtetype == "festetomt") {
                        erTomtetypeFestetomt = "active";
                    }
            }-->
            <tr data-toggle="buttons" vitec-if="Model.eiendom.eieform != &quot;Andel&quot;">
                <td colspan="75" contenteditable="false">Omsetningen gjelder bygg p&aring; festet grunn</td>
                <td colspan="12" data-label="NEI" style="text-align:center"><label class="btn @erTomtetypeEiertomt" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl001" type="radio" /></label></td>
                <td colspan="13" data-label="JA" style="text-align:center"><label class="btn @erTomtetypeFestetomt" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl001" type="radio" /></label></td>
            </tr>
            <tr contenteditable="false" vitec-if="Model.eiendom.eieform == &quot;Andel&quot;">
                <td colspan="100">Andelens betegnelse i grunnboken</td>
            </tr>
            <tr vitec-if="Model.eiendom.eieform == &quot;Andel&quot;">
                <td colspan="40" data-label="Borettslagets navn">[[brl.navn]]</td>
                <td colspan="31" data-label="Organisasjonsnummer">[[brl.orgnr]]</td>
                <td colspan="15" data-label="Andelsnummer">[[eiendom.andelsnr]]</td>
                <td colspan="14" data-label="Ideell andel">[[brl.andel]]</td>
            </tr>
            <tr class="border-bottom" data-toggle="buttons" vitec-if="Model.eiendom.eieform != &quot;Andel&quot;">
                <!-- @{
                    var erGrunntypeTomt ="";
                    var erIkkeGrunntypeTomt ="";
                    if (Model.eiendom.grunntype == "Tomt") {
                        erGrunntypeTomt = "active";
                        } else {
                            erIkkeGrunntypeTomt = "active";
                        }
                }-->
                <td colspan="14" data-choice="1. Bebygd" data-label="Beskaffenhet" style="text-align:center"><label class="btn @erIkkeGrunntypeTomt" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl002" type="radio" /></label></td>
                <td colspan="14" data-choice="2. Ubebygd" style="text-align:center">
                    <br />
                    <label class="btn @erGrunntypeTomt" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl002" type="radio" /></label>
                </td>
                <td colspan="47" style="border-right:1px solid black">&nbsp;</td>
                <td colspan="25" data-label="Verdi 2)" style="border-left:1px solid black"><span vitec-if="Model.kontrakt.kjopesum == &quot;0,00&quot;">kr $.UD([[eiendom.pris]])</span><span vitec-if="Model.kontrakt.kjopesum != &quot;0,00&quot;">kr $.UD([[kontrakt.kjopesum]])</span></td>
            </tr>
            <tr class="border-bottom checkbox-row" data-toggle="buttons" vitec-if="Model.eiendom.eieform != &quot;Andel&quot;">
                <!-- @{

                    var erTypeGrunnBoligeiendom = "";
                    var erTypeGrunnFritidseiendom = "";
                    var erTypeGrunnForretningKontor = "";
                    var erTypeGrunnIndustriBergverk = "";
                    var erTypeGrunnLandbrukFiske = "";
                    var erTypeGrunnOffentligVei = "";
                    var erTypeGrunnAnnet = "";

                    if (Model.eiendom.typegrunn == "Boligeiendom") {
                        erTypeGrunnBoligeiendom = "active";
                    } else if (Model.eiendom.typegrunn == "Fritidseiendom") {
                        erTypeGrunnFritidseiendom = "active";
                    } else if (Model.eiendom.typegrunn == "Forretning - kontor") {
                        erTypeGrunnForretningKontor = "active";
                    } else if (Model.eiendom.typegrunn == "Industri - bergverk") {
                        erTypeGrunnIndustriBergverk = "active";
                    } else if (Model.eiendom.typegrunn == "Landbruk - fiske") {
                        erTypeGrunnLandbrukFiske = "active";
                    } else if (Model.eiendom.typegrunn == "Offentlig vei") {
                        erTypeGrunnOffentligVei = "active";
                    } else if (Model.eiendom.typegrunn == "Annet") {
                        erTypeGrunnAnnet = "active";
                    }
                }-->
                <td colspan="14" data-choice="B. Boligeiendom" data-label="Bruk av grunn" style="text-align:center"><label class="btn @erTypeGrunnBoligeiendom" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl003" type="radio" /></label></td>
                <td colspan="14" data-choice="F. Fritidseiendom" data-label="" style="text-align:center"><label class="btn @erTypeGrunnFritidseiendom" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl003" type="radio" /></label></td>
                <td colspan="14" data-choice="V. Forretning / kontor" data-label="" style="text-align:center"><label class="btn @erTypeGrunnForretningKontor" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl003" type="radio" /></label></td>
                <td colspan="14" data-choice="I. Industri" data-label="" style="text-align:center"><label class="btn @erTypeGrunnIndustriBergverk" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl003" type="radio" /></label></td>
                <td colspan="14" data-choice="L. Landbruk" data-label="" style="text-align:center"><label class="btn @erTypeGrunnLandbrukFiske" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl003" type="radio" /></label></td>
                <td colspan="14" data-choice="K. Off. vei" data-label="" style="text-align:center"><label class="btn @erTypeGrunnOffentligVei" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl003" type="radio" /></label></td>
                <td colspan="16" data-choice="A. Annet" data-label="" style="text-align:center"><label class="btn @erTypeGrunnAnnet" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl003" type="radio" /></label></td>
            </tr>
            <tr class="border-bottom checkbox-row" data-toggle="buttons" vitec-if="Model.eiendom.eieform == &quot;Andel&quot;">
                <!-- @{
                    var erGrunntypeBolig ="";
                    var erGrunntypeFritid ="";
                    var erGrunntypeNaering ="";
                    if (Model.eiendom.grunntype == "Bolig") {
                        erGrunntypeBolig = "active";
                    } else if (Model.eiendom.grunntype == "Fritid") {
                        erGrunntypeFritid = "active";
                    } else if (Model.eiendom.grunntype == "N\xE6ring") {
                        erGrunntypeNaering = "active";
                    }
                }-->
                <td colspan="14" data-choice="B. Bolig" data-label="Hva brukes andelen til?" style="text-align:center"><label class="btn @erGrunntypeBolig" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl004" type="radio" /></label></td>
                <td colspan="14" data-choice="F. Fritidsbolig" data-label="" style="text-align:center"><label class="btn @erGrunntypeFritid" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl004" type="radio" /></label></td>
                <td colspan="14" data-choice="N. Næring" data-label="" style="text-align:center"><label class="btn @erGrunntypeNaering" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl004" type="radio" /></label></td>
                <td colspan="58">&nbsp;</td>
            </tr>
            <tr class="border-bottom checkbox-row" data-toggle="buttons">
                <!-- @{
                    var erTypeBoligFrittliggendeEnebolig = "";
                    var erTypeBoligTomannsbolig = "";
                    var erTypeBoligRekkehusKjede = "";
                    var erTypeBoligBlokkleilighet = "";
                    var erTypeBoligAnnet = "";
                    if (Model.eiendom.typebolig == "Frittliggende enebolig") {
                        erTypeBoligFrittliggendeEnebolig = "active";
                        } else if (Model.eiendom.typebolig == "Tomannsbolig") {
                            erTypeBoligTomannsbolig = "active";
                        } else if (Model.eiendom.typebolig == "Rekkehus/Kjede") {
                            erTypeBoligRekkehusKjede = "active";
                        } else if (Model.eiendom.typebolig == "Blokkleilighet") {
                            erTypeBoligBlokkleilighet = "active";
                        } else if (Model.eiendom.typebolig == "Annet") {
                            erTypeBoligAnnet = "active";
                    }
                }-->
                <td colspan="14" data-choice="FB. Frittliggende enebolig" data-label="Type bolig" style="text-align:center"><label class="btn @erTypeBoligFrittliggendeEnebolig" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl005" type="radio" /></label></td>
                <td colspan="14" data-choice="TB. Tomannsbolig" data-label="" style="text-align:center"><label class="btn @erTypeBoligTomannsbolig" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl005" type="radio" /></label></td>
                <td colspan="14" data-choice="RK. Rekkehus kjede" data-label="" style="text-align:center"><label class="btn @erTypeBoligRekkehusKjede" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl005" type="radio" /></label></td>
                <td colspan="14" data-choice="BL. Blokkleilighet" data-label="" style="text-align:center"><label class="btn @erTypeBoligBlokkleilighet" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl005" type="radio" /></label></td>
                <td colspan="14" data-choice="AN. Annet" data-label="" style="text-align:center"><label class="btn @erTypeBoligAnnet" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl005" type="radio" /></label></td>
                <td colspan="30" contenteditable="false">&nbsp;</td>
            </tr>
            <tr contenteditable="false">
                <td class="no-border" colspan="100">&nbsp;</td>
            </tr>
            <tr contenteditable="false">
                <td class="row-header" colspan="100">2. Avd&oslash;de</td>
            </tr>
        </tbody>
        <tbody vitec-if="Model.tidligereeiere.Count == 0">
            <tr>
                <td colspan="35" data-label="Fødselsnr. (11 siffer)">&nbsp;</td>
                <td colspan="65" data-label="Navn">&nbsp;</td>
            </tr>
        </tbody>
        <tbody vitec-if="Model.tidligereeiere.Count &gt; 0">
            <tr class="foreach-list">
                <td colspan="35" data-label="Fødselsnr. (11 siffer)">
                    <ul vitec-foreach="tidligereeier in Model.tidligereeiere">
                        <li>[[*tidligereeier.idnummer]]</li>
                    </ul>
                </td>
                <td colspan="65" data-label="Navn">
                    <ul vitec-foreach="tidligereeier in Model.tidligereeiere">
                        <li>[[*tidligereeier.navn]]</li>
                    </ul>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr contenteditable="false">
                <td class="no-border" colspan="100">&nbsp;</td>
            </tr>
            <tr contenteditable="false">
                <td class="row-header" colspan="100">3. Hjemmel<sup style="font-size: 5pt; font-weight: normal"><span vitec-if="Model.eiendom.eieform != &quot;Andel&quot;">3)</span><span vitec-if="Model.eiendom.eieform == &quot;Andel&quot;">1)</span></sup></td>
            </tr>
            <tr class="no-border" contenteditable="false">
                <td colspan="100" data-label="Hjemmelen til ovennevnte eiendom(mer) begjæres overført til nedenstående personer i henhold til: (sett x)" style="padding:2px; text-align:center">&nbsp;</td>
            </tr>
            <tr class="border-bottom" data-toggle="buttons">
                <td colspan="14" data-choice="6. Skifteattest" style="text-align:center"><label class="btn" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl006" type="radio" /></label></td>
                <td colspan="24" data-choice="6. Skifteattest og testament" style="text-align:center"><label class="btn" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl006" type="radio" /></label></td>
                <td colspan="14" data-choice="6. Uskifteattest" style="text-align:center"><label class="btn" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl006" type="radio" /></label></td>
                <td colspan="48" contenteditable="false" style="text-align:center">&nbsp;</td>
            </tr>
            <tr contenteditable="false">
                <td class="no-border" colspan="100">&nbsp;</td>
            </tr>
            <tr contenteditable="false">
                <td class="row-header" colspan="100">4. Ny(e) hjemmelshaver(e)</td>
            </tr>
        </tbody>
        <tbody>
            <tr class="foreach-list">
                <td colspan="25" data-label="Fødselsnr. (11 siffer)">
                    <ul vitec-foreach="arving in Model.arvinger">
                        <li>[[*arving.idnummer]]</li>
                    </ul>
                </td>
                <td colspan="30" data-label="Navn">
                    <ul vitec-foreach="arving in Model.arvinger">
                        <li>[[*arving.navnutenfullmektigogkontaktperson]]</li>
                    </ul>
                </td>
                <td colspan="29" data-label="Ev. slektskapsforhold til avdøde">
                    <ul vitec-foreach="arving in Model.arvinger">
                        <li> &nbsp; </li>
                    </ul>
                </td>
                <td colspan="16" data-label="Andel 4)" style="border-left:solid 1px #000000" vitec-if="Model.eiendom.eieform != &quot;Andel&quot;">
                    <ul vitec-foreach="arving in Model.arvinger">
                        <li>[[*arving.eierbrok]]</li>
                    </ul>
                </td>
                <td colspan="16" data-label="Andel 2)" style="border-left:solid 1px #000000" vitec-if="Model.eiendom.eieform == &quot;Andel&quot;">
                    <ul vitec-foreach="arving in Model.arvinger">
                        <li>[[*arving.eierbrok]]</li>
                    </ul>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr contenteditable="false">
                <td class="no-border" colspan="100">&nbsp;</td>
            </tr>
            <tr contenteditable="false">
                <td class="row-header" colspan="100">5. Underskrift</td>
            </tr>
            <tr contenteditable="false">
                <td colspan="100">Undertegnede (gjeldsovertagende arvinger legitimert iht. skifteattesten<sup style="font-size: 5pt; font-weight: normal"><span vitec-if="Model.eiendom.eieform != &quot;Andel&quot;">5)</span><span vitec-if="Model.eiendom.eieform == &quot;Andel&quot;">3)</span></sup>, advokat, eiendomsmegler eller annen med fullmakt fra de gjeldsovertagende arvinger) bekrefter at ovenst&aring;ende opplysninger er riktig og er kjent med straffeansvaret ved avgivelse av uriktige opplysninger til offentlig myndighet.</td>
            </tr>
            <tr>
                <td colspan="30" data-label="Sted">&nbsp;</td>
                <td colspan="35" data-label="Underskrift">&nbsp;</td>
                <td colspan="35" data-label="Underskrift">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="30" data-label="Dato">&nbsp;</td>
                <td colspan="35" data-label="Underskrift">&nbsp;</td>
                <td colspan="35" data-label="Underskrift">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="30" data-label="Sted">&nbsp;</td>
                <td colspan="35" data-label="Underskrift">&nbsp;</td>
                <td colspan="35" data-label="Underskrift">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="30" data-label="Dato">&nbsp;</td>
                <td colspan="35" data-label="Underskrift">&nbsp;</td>
                <td colspan="35" data-label="Underskrift">&nbsp;</td>
            </tr>
            <tr contenteditable="false">
                <td class="no-border" colspan="100">&nbsp;</td>
            </tr>
            <tr contenteditable="false">
                <td colspan="100" style="padding:.5cm">
                    <p><strong>Noter:</strong></p>

                    <div vitec-if="Model.eiendom.eieform != &quot;Andel&quot;">
                        <ol>
                            <li>Dersom eiendommen har underfestenummer (ufnr.) kan felt for seksjonsnummer (snr.) nyttes.</li>
                            <li>Der er eiendommens markedsverdi p&aring; tidspunktet for tinglysing som skal oppgis.</li>
                            <li>Attesten/testamentet skal vedlegges i original eller bekreftet fotokopi.</li>
                            <li>Det som skal oppgis er st&oslash;rrelsen p&aring; den eierandel som overf&oslash;res til den enkelte arving/legatar.</li>
                            <li>De legitimerte iht. skifteattest har kompetanse til &aring; disponere over eiendommen inntil skiftet er forest&aring;tt.</li>
                        </ol>
                    </div>

                    <div vitec-if="Model.eiendom.eieform == &quot;Andel&quot;">
                        <ol>
                            <li>Attesten/testamentet skal vedlegges i original eller bekreftet fotokopi.</li>
                            <li>Det som skal oppgis er st&oslash;rrelsen p&aring; den eierandel som overf&oslash;res til den enkelte arving/legatar.</li>
                            <li>De legitimerte iht. skifteattest har kompetanse til &aring; disponere over andelen inntil skiftet er forest&aring;tt.</li>
                        </ol>
                    </div>

                    <p>&Oslash;nskes det at alle arvingene skal disponere over <span vitec-if="Model.eiendom.eieform != &quot;Andel&quot;">eiendommene </span><span vitec-if="Model.eiendom.eieform == &quot;Andel&quot;">andelen </span>i sameie, m&aring; de legitimerte tinglyse en erkl&aelig;ring om dette.</p>

                    <p vitec-if="Model.eiendom.eieform == &quot;Andel&quot;">Blanketten sendes i to eksemplar med vedlegg til: Statens kartverk, Tinglysing borettslag, 5788 Kinsarvik.</p>
                </td>
            </tr>
            <tr contenteditable="false">
                <td class="no-border" colspan="50" style="font-size:8pt; text-align:left">GA-5307<span vitec-if="Model.eiendom.eieform == &quot;Andel&quot;">-2</span> B</td>
                <td class="no-border" colspan="50" style="font-size:8pt; text-align:right">Side 1 av 1</td>
            </tr>
        </tbody>
    </table>
</div>