<div id="vitecTemplate"><span contenteditable="false" vitec-template="resource:Vitec Stilark"> </span>
<h1>Informasjon om salgsprosessen</h1>

<p>Hei,</p>

<p>Det vises til mottatt signert oppdragsavtale for salg av <strong>[[eiendom.adresse]]</strong>.</p>

<p>Vi har med dette inng&aring;tt en avtale om salg av din eiendom. Vedlagt f&oslash;lger kopi av oppdragsavtalen.</p>

<p>Du vil n&aring; f&aring; l&oslash;pende informasjon om neste steg gjennom prosessen. Samtidig vil det oversendes deg dokumenter for utfylling, og eksterne leverand&oslash;rer vil ta kontakt med deg i henhold til avtale.</p>

<p>N&aring;r all dokumentasjon er innhentet vil du f&aring; presentert et utkast til salgsoppgave og &oslash;vrig markedsf&oslash;ringsmateriell. Dersom du har sp&oslash;rsm&aring;l kan du selvf&oslash;lgelig ta kontakt med meg.</p>

<div class="info-box"><strong>Her f&oslash;lger utdypende informasjon om prosessen videre:</strong></div>

<h2>Kundekontroll</h2>

<p>Som eiendomsmegler er vi p&aring;lagt &aring; foreta en kundekontroll relatert til hvitvasking av alle oppdragsgivere. Du vil motta en e-post hvor du m&aring; besvare noen sp&oslash;rsm&aring;l omkring form&aring;let med salget.</p>

<h2>Tilstandsrapport</h2>

<p>Vi vil til avtalt tid rekvirere bygningssakkyndig/takstmann som vil gjennomf&oslash;re en befaring av din bolig.</p>

<h2>Fotografering</h2>

<p>Det er viktig &aring; f&aring; fine bilder av boligen, og det skal vi og fotograf f&aring; til i samarbeid med deg. Vi rekvirerer fotografen, og du vil f&aring; r&aring;d om hvordan boligen vil kunne fremst&aring; best mulig, slik at bildene blir optimale.</p>

<h2>Krav til energimerking</h2>

<p>Ved salg av boligeiendom er det et myndighetskrav at den skal v&aelig;re energimerket. Dette gj&oslash;r du enkelt p&aring; <a href="https://www.enova.no/energimerking/bolig/">www.enova.no</a>.</p>

<p>N&aring;r du logger inn f&aring;r du en oversikt over boliger du eier, og kan enkelt energimerke disse. Rapporten m&aring; sendes til megler p&aring; e-post.</p>

<h2>Egenerkl&aelig;ring og Boligselgerforsikring</h2>

<p>Det vil i l&oslash;pet av kort tid sendes ut et elektronisk egenerkl&aelig;ringsskjema p&aring; e-post. Dette fylles ut digitalt og signeres med BankID, og blir levert direkte til v&aring;rt meglersystem.</p>

<p><strong>Viktig:</strong> Skjemaet m&aring; v&aelig;re ferdig utfylt og signert <em>f&oslash;r</em> takstmannen kommer for &aring; unders&oslash;ke boligen.</p>

<p>I skjemaet m&aring; det ogs&aring; tas stilling til tegning av boligselgerforsikring. Vi anbefaler alltid v&aring;re selgere &aring; tegne denne ansvarsforsikringen. Ved en eventuell klage/reklamasjon fra kj&oslash;per, vil det v&aelig;re forsikringsselskapet som behandler denne p&aring; vegne av deg som selger.</p>

<h2>Selgers opplysningsplikt</h2>

<p>Etter avhendingsloven er selger ansvarlig for skjulte feil eller mangelfulle/feil opplysninger i 5 &aring;r etter salget. Det er derfor viktig &aring; gi interessentene alle opplysninger av betydning i salgsoppgaven.</p>

<p>Interessentene skal f&aring; all informasjon som &quot;kj&oslash;per har grunn til &aring; regne med &aring; f&aring;&quot; f&oslash;r det inngis bud. Skulle det v&aelig;re opplysninger om eiendommen som dere er kjent med, men som megler ikke har f&aring;tt, oppfordrer vi til &aring; ta kontakt. Dette kan v&aelig;re opplysninger om mangler ved eiendommen, mottatte nabovarsler eller andre spesielle forhold.</p>

<h2>Korrektur og godkjenning</h2>

<p>Markedsmateriell som skal brukes i forbindelse med boligsalget vil bli oversendt for korrektur, og krever skriftlig godkjennelse fra deg f&oslash;r det blir benyttet. Vi setter stor pris p&aring; en snarlig tilbakemelding ved oversendelse. Som selger innest&aring;r du for at opplysningene er korrekte.</p>

<h2>Viktig informasjon om pris og bud</h2>

<p>I henhold til bransjenorm skal ikke prisantydning settes lavere enn hva selger p&aring; markedsf&oslash;ringstidspunktet er villig til &aring; selge for. Meglers prisantydning vil fremkomme i salgsoppgaven. Ved godkjennelse av salgsoppgaven, godkjennes ogs&aring; prisantydning som minste aktuelle salgspris.</p>

<p>Megler kan ikke videreformidle bud som har kortere akseptfrist enn <strong>kl. 12.00 f&oslash;rste virkedag etter siste annonserte visning</strong>. Alle avslag, motbud eller aksept av bud m&aring; foreligge skriftlig f&oslash;r megler kan videreformidle dette.</p>

<p>Vi erfarer dessverre at enkelte interessenter fors&oslash;ker &aring; omg&aring; budreglene ved &aring; gi bud direkte til selger. V&aelig;r oppmerksom p&aring; at det er forbundet med risiko &aring; inng&aring; bindende avtale uten at megler har sjekket finansiering, uten at kj&oslash;per har f&aring;tt fullstendig salgsoppgave, eller at du ikke oppn&aring;r markedspris.</p>

<p>Vi ser frem til et godt samarbeid og en trygg salgsprosess, og vi vil gj&oslash;re v&aring;rt ytterste for at du blir forn&oslash;yd. Ta gjerne kontakt ved sp&oslash;rsm&aring;l.</p>

<p style="padding-top:10px"><strong>Vedlegg:</strong><br />
- Kopi av Oppdragsavtale<br />
- Oversikt over l&oslash;s&oslash;re og tilbeh&oslash;r</p>
</div>