<div id="vitecTemplate"><span vitec-template="resource:Vitec Stilark">&nbsp;</span>
<table style="width:100%">
	<tbody>
		<tr>
			<td>
			<div vitec-template="resource: Mottaker">&nbsp;</div>

			<p><strong>Bestilling av foto p&aring; eiendommen [[eiendom.gatenavnognr]] - [[komplettmatrikkelutvidet]] i [[eiendom.kommunenavn]] kommune</strong></p>

			<p>Hei, jeg &oslash;nsker at du ringer og avtaler fotografering p&aring; ovennevnte eiendom snarest mulig. Kundens tlf. er:&nbsp;[[selger.hovedkontakt.tlf]]</p>

			<p>Flott med en tilbakemelding n&aring;r tidspunkt er avtalt.</p>

			<p>&nbsp;</p>

			<div vitec-template="resource: Avsender">&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
</div>