<p>Hei [[mottaker.navn]],</p>

<p>&nbsp;</p>

<p>Takk for et hyggelig m&oslash;te p&aring; visning i [[eiendom.gatenavnognr]]. Jeg h&aring;per dere har f&aring;tt svar p&aring; deres sp&oslash;rsm&aring;l og at dere f&oslash;ler dere godt ivaretatt.</p>

<p>&nbsp;</p>

<p>For &aring; gi bud, se link til budskjema p&aring; eiendommens hjemmeside: https://proaktiv.no/[[oppdrag.nr]]</p>

<p>&nbsp;</p>

<p>Ta gjerne kontakt om du har sp&oslash;rsm&aring;l</p>

<p>&nbsp;</p>

<div vitec-template="resource: SMS-signatur">&nbsp;</div>