<p>Hei [[mottaker.navn]],</p>

<p>&nbsp;</p>

<p>Bekrefter med dette din p&aring;melding til visningen av [[eiendom.adresse]], [[mottaker.visning.dato]] [[mottaker.visning.tidsrom]]</p>

<p>&nbsp;</p>

<p>Sett deg gjerne inn i salgsoppgaven i forkant av visningen: <a href="https://proaktiv.no/[[oppdrag.nr]]">Proaktiv.no</a>.</p>

<p>&nbsp;</p>

<p>Husk &aring; gi beskjed til megler [[megler1.tlf]], dersom du ikke kan m&oslash;te som avtalt.</p>

<p>&nbsp;</p>

<p><a href="tel:[[megler1.tlf]]">Ring</a> // <a href="sms:+47[[megler1.tlf]]?body=Hei%20-%20ta%20kontakt">Send SMS</a></p>

<p>&nbsp;</p>

<p>Velkommen til en hyggelig visning!</p>

<p>&nbsp;</p>

<div vitec-template="resource: SMS-signatur">&nbsp;</div>