<div id="vitecTemplate"><span contenteditable="false" vitec-template="resource:Vitec Stilark"> </span><!-- Laster Vitec standardstiler (Må ligge her) -->
<style type="text/css">/* SJEKKBOKSER (MÅ VÆRE NØYAKTIG SLIK FOR Å UNNGÅ EDITOR-KRASJ) */
    label.btn { display: inline-block !important; cursor: pointer; margin: 0 !important; padding: 0 !important; vertical-align: middle !important; line-height: 1 !important; }
.svg-toggle { display: inline-block !important; width: 16px !important; height: 16px !important; margin-right: 10px !important; vertical-align: text-bottom; border: none !important; background-color: transparent !important; content: " " !important; }
#vitecTemplate [data-toggle="buttons"] input { display: none !important; }
/* Custom SVGs (Proaktiv Firkant - IKKE Hake) */
    .svg-toggle.checkbox { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Crect x='25' y='25' width='462' height='462' fill='none' stroke='%23272630' stroke-width='40'/%3E%3C/svg%3E"); }
.svg-toggle.checkbox.active, .btn.active > .svg-toggle.checkbox { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Crect x='25' y='25' width='462' height='462' fill='none' stroke='%23272630' stroke-width='40'/%3E%3Crect x='100' y='100' width='312' height='312' fill='%23272630'/%3E%3C/svg%3E"); }
</style>
<!-- START DOKUMENTINNHOLD HER -->
<h1>Godkjenning av salgsoppgave</h1>

<p><strong>Hei [[mottaker.navn]],</strong></p>

<p>Vi viser til samtaler og vedlegger utkast til salgsoppgave.</p>

<p>Det er viktig at denne blir gjennomg&aring;tt n&oslash;ye, og om det skulle v&aelig;re behov for endringer eller om det er feil i dokumentet m&aring; dette sendes til meg s&aring; snart sm mulig. Som selger innest&aring;r du for at opplysningene gitt i salgsoppgaven er korrekte. Uriktige eller manglende opplysninger kan du som selger bli holdt ansvarlig for.</p>

<p><strong>Bekreftelse p&aring; endelig godkjenning av materiell sendes til undertegnede per e-post.</strong></p>

<p><strong>Vi gj&oslash;r oppmerksom p&aring; gjeldende regelverk om prisantydning:</strong><br />
Prisantydning skal ikke settes lavere enn minste aktuelle salgspris, samt at prisantydningen ikke skal v&aelig;re lavere enn det meglers objektive vurdering skulle tilsi.</p>

<p>Vi takker for samarbeidet s&aring; langt, og vil gj&oslash;re v&aring;rt ytterste for at oppdraget skal bli utf&oslash;rt p&aring; best mulig m&aring;te. Vi st&aring;r med glede til tjeneste dersom du har sp&oslash;rsm&aring;l!</p>

<p style="margin-top:30px"><strong>Vedlegg:</strong><br />
Salgsoppgave</p>
<br />
<!-- SIGNATUR -->
<div style="padding-top:20px; page-break-inside:avoid">
<p>Med vennlig hilsen</p>

<p><strong>[[operativmegler.navn]]</strong><br />
<strong>[[meglerkontor.navn]]</strong></p>
</div>
</div>