<div id="vitecTemplate"><span contenteditable="false" vitec-template="resource:Vitec Stilark"> </span>
<h1>Kj&oslash;p av Prosjektbolig</h1>

<p>Gratulerer med kj&oslash;pet av <strong>[[eiendom.adresse]]</strong>!</p>

<p>Vedlagt finner du signert kontrakt.</p>

<h2>Videre prosess</h2>

<p><strong>Tilvalg:</strong><br />
Utbygger/entrepren&oslash;r vil ta kontakt med deg ang&aring;ende frister for tilvalg (kj&oslash;kken, fliser, elektro).</p>

<p><strong>Betaling:</strong><br />
Du vil f&aring; faktura p&aring; evt. forskudd. Restbel&oslash;pet + omkostninger forfaller ved overtakelse/innflytting.</p>

<p><strong>Garanti:</strong><br />
Selger plikter &aring; stille garanti etter Bustadoppf&oslash;ringslova &sect; 12 straks etter avtaleinng&aring;else.</p>

<p>Vi holder deg orientert om fremdriften!</p>
</div>