<div id="vitecTemplate"><span contenteditable="false" vitec-template="resource:Vitec Stilark"> </span><!-- Laster Vitec standardstiler -->
<style type="text/css">/* STANDARD KLASSER FRA FRAMEWORK */
    label.btn { display: inline-block !important; cursor: pointer; margin: 0 !important; padding: 0 !important; vertical-align: middle !important; line-height: 1 !important; }
.svg-toggle { display: inline-block !important; width: 16px !important; height: 16px !important; margin-right: 10px !important; vertical-align: text-bottom; border: none !important; background-color: transparent !important; content: " " !important; }
#vitecTemplate [data-toggle="buttons"] input { display: none !important; }
.svg-toggle.checkbox { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Crect x='25' y='25' width='462' height='462' fill='none' stroke='%23272630' stroke-width='40'/%3E%3C/svg%3E"); }
</style>
<!-- INNHOLD START -->
<h1>Oversendelse av kontraktsutkast (Digitalt)</h1>

<p><strong>Hei,</strong></p>

<p>Se vedlagte utkast til kj&oslash;pekontrakt med vedlegg.</p>

<p>Vi ber deg gjennomg&aring; kontrakten, og gi snarlig tilbakemelding p&aring; hvorvidt du godkjenner denne eller har kommentarer til utkastet.</p>

<p>Om kort tid deretter vil vi sende ut kj&oslash;pekontrakten for elektronisk signering med BankID.</p>

<p>Ta kontakt med meg hvis du har noen sp&oslash;rsm&aring;l.</p>

<div style="padding-top:20px; page-break-inside:avoid">
<p>Med vennlig hilsen<br />
<strong>[[meglerkontor.navn]]</strong></p>

<table>
	<colgroup>
		<col style="width: 100%" />
	</colgroup>
	<tbody>
		<tr>
			<td>[[ansvarligmegler.navn]]<br />
			[[ansvarligmegler.tittel]]</td>
		</tr>
	</tbody>
</table>
</div>

<p style="margin-top:30px"><strong>Vedlegg:</strong><br />
Kontrakt<br />
Salgsoppgave<br />
Vedlegg til kontrakt</p>
</div>