<table border="0" cellpadding="0" cellspacing="0" style="max-width:480px; min-width:320px; width:100%">
	<tbody>
		<tr>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" style="color:#000000; font-family:Arial,Helvetica,sans-serif; font-size:13px; width:100%">
				<tbody>
					<tr>
						<td colspan="3" style="font-size:12px; padding-bottom:6px">Med vennlig hilsen</td>
					</tr>
					<tr>
						<td style="padding-right:22px; vertical-align:middle">
						<div style="font-size:20px; font-weight:bold; margin-bottom:4px">[[avsender.navn]]</div>

						<div style="color:#bcab8a; font-size:12px; margin-bottom:10px"><strong>[[avsender.tittel]]</strong></div>

						<div style="font-size:11px; margin-bottom:4px"><a href="tel:+4746747509" style="color:#000;text-decoration:none;"><img src="https://proaktiv.no/assets/logos/phone.png" style="border:0; height:14px; margin-right:6px; vertical-align:middle; width:14px" />+47 [[avsender.mobiltlf]] </a></div>

						<div style="font-size:11px"><a href="mailto:adrian@proaktiv.no" style="color:#000;text-decoration:none;"><img src="https://proaktiv.no/assets/logos/email.png" style="border:0; height:14px; margin-right:6px; vertical-align:middle; width:14px" />[[avsender.epost]] </a></div>
						</td>
						<td style="padding:0 18px; vertical-align:middle">
						<table border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td style="background-color:#bcab8a; font-size:1px; height:95px; line-height:1px; width:1px">&nbsp;</td>
								</tr>
							</tbody>
						</table>
						</td>
						<td align="center" style="padding-left:18px; vertical-align:middle">
						<div style="margin-bottom:14px"><img src="https://proaktiv.no/assets/logos/Proaktiv_Eiendomsmegling_sort.png" style="border:0; display:inline-block; width:155px" /></div>

						<table align="center" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td><a href="https://proaktiv.no/" target="_blank"><img src="https://proaktiv.no/assets/logos/lilje_clean_52.png" style="border:0; display:block; height:26px; width:26px" /> </a></td>
									<td style="width:10px">&nbsp;</td>
									<td><a href="https://www.instagram.com/proaktiveiendomsmegling/" target="_blank"><img src="https://proaktiv.no/assets/logos/instagram.png" style="border:0; display:block; height:26px; width:26px" /> </a></td>
									<td style="width:10px">&nbsp;</td>
									<td><a href="https://www.linkedin.com/company/proaktiv-eiendomsmegling/" target="_blank"><img src="https://proaktiv.no/assets/logos/linkedin.png" style="border:0; display:block; height:26px; width:26px" /> </a></td>
									<td style="width:10px">&nbsp;</td>
									<td><a href="https://www.facebook.com/proaktiveiendom" target="_blank"><img src="https://proaktiv.no/assets/logos/facebook.png" style="border:0; display:block; height:26px; width:26px" /> </a></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td colspan="3" style="font-size:11px; padding-top:16px">[[avsender.meglerkontor.navn]] &ndash; Org. nr. [[avsender.meglerkontor.orgnr]] | [[avsender.meglerkontor.besoksadresse]], [[avsender.meglerkontor.postnr]] [[avsender.meglerkontor.poststed]]</td>
					</tr>
					<tr>
						<td colspan="3" style="padding-top:16px">
						<div style="color:#888888; font-size:9px; line-height:1.4; max-width:456px">This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed. If you have received this email in error please notify the system manager. This footnote also confirms that this email message has been swept for the presence of computer viruses.</div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>