<p>Hei,</p>

<p>Vi bekrefter med dette at fullt oppgj&oslash;r er innbetalt og overtagelse av ​[[eiendom.adresse]] kan finne sted som avtalt. N&aring;r alle n&oslash;dvendige dokumenter er mottatt, herunder overtakelsesprotokoll, vil skj&oslash;te bli sendt for tinglysing og oppgj&oslash;ret utbetales ihht. kj&oslash;pekontrakt.</p>

<p>Ved sp&oslash;rsm&aring;l knyttet til overtakelse, vennligst kontakt din eiendomsmegler.</p>

<p>(Denne meldingen kan ikke besvares)</p>

<div vitec-template="resource: SMS-signatur">&nbsp;</div>