<p>Hei [[mottaker.navn]],</p>

<p>&nbsp;</p>

<p>Viser til din interesse p&aring; eiendommen [[eiendom.adresse]]. Det er n&aring; &aring;pent for budgivning. F&oslash;rste bud m&aring; inngis skriftlig via elektronisk budskjema, eventuelle forh&oslash;yelser kan sendes direkte til megler per sms</p>

<p>&nbsp;</p>

<p>Link til budportal: https://bud.vitecnext.no/?Installationid=MSPROA&amp;Estateid=[[oppdrag.estateid]]</p>

<p>&nbsp;</p>

<p>Jeg minner om at bud ikke kan ha frist tidligere enn kl. 12:00 i dag. Videre ber jeg om minimum 30 minutters budfrist, slik at jeg f&aring;r gjennomf&oslash;rt en forsvarlig budrunde.</p>

<p>&nbsp;</p>

<p>Ta gjerne kontakt med meg dersom du har sp&oslash;rsm&aring;l.</p>

<p>&nbsp;</p>

<div vitec-template="resource: SMS-signatur">&nbsp;</div>