<p><a id="re-rangecopy&amp;&amp;0.5557657512740696"></a></p>

<p><a id="re-rangecopy&amp;&amp;0.5557657512740696"><b id="re-rangecopy&amp;&amp;0.5557657512740696">Hei,</b></a></p>

<p>Eiendommen som skal selges m&aring; energimerkes. Det gj&oslash;res ved at du g&aring;r inn p&aring; https://www.enova.no. Vennligst oversend energiattesten n&aring;r den foreligger.&nbsp;</p>

<p>&nbsp;</p>

<p>(Denne meldingen kan ikke besvares)</p>

<p>&nbsp;</p>

<div vitec-template="resource: SMS-signatur">&nbsp;</div>