<div id="vitecTemplate">
	<span vitec-template="resource:Vitec Stilark">&nbsp;</span>
	<style type="text/css">
		#vitecTemplate table {
			border-collapse: collapse;
			width: 100%;
			table-layout: fixed;
		}

			#vitecTemplate table td {
				border: solid 1px #000;
				height: 35px;
				vertical-align: middle;
				padding-left: 5px;
			}

			#vitecTemplate table tr.no-border td {
				border: none;
				height: auto;
			}

			#vitecTemplate table td[data-label]:before {
				content: attr(data-label);
				text-align: left;
				color: #333;
				font-size: 9pt;
				line-height: 8pt;
				display: block;
				position: absolute;
				top: 1px;
				padding-left: 5px;
			}

			#vitecTemplate table td[data-choice]:after {
				content: attr(data-choice);
				text-align: center;
				font-size: 9pt;
				font-weight: normal;
				line-height: 8pt;
				color: #333;
				display: block;
				position: absolute;
				bottom: 1px;
				left: 0;
				right: 0;
			}

			#vitecTemplate table td[data-label] {
				padding: 16px 2px 4px 2px;
				position: relative;
			}

			#vitecTemplate table td[data-choice] {
				padding: 4px 2px 16px 2px;
				position: relative;
			}

			/* tabellceller med baade label og valg-tekst */
			#vitecTemplate table td[data-label][data-choice] {
				padding: 16px 2px 16px 2px;
				position: relative;
			}

		/* tabellceller med lange data-choice-tekster */
		#vitecTemplate tr.checkbox-row td[data-choice] {
			padding-bottom: 24px;
		}
	</style>
	<style type="text/css">
		/* Klikkbare sjekkbokser og radioknapper */
		label.btn {
			display: inline;
			text-transform: none;
			white-space: normal;
			padding: 0;
			vertical-align: baseline;
			outline: none;
			font-size: inherit;
		}

			label.btn:active,
			label.btn.active {
				box-shadow: none;
				outline: none;
			}

		.svg-toggle { /* nullstiller bootstrap button-styling */
			display: inline-block !important;
			width: 16px;
			height: 16px;
			margin: 0 2px;
			vertical-align: bottom;
			padding: 0;
			border: none;
			background: transparent;
			border-radius: 0;
			box-shadow: none !important;
			cursor: pointer;
			white-space: normal;
			text-align: left;
			background-repeat: no-repeat;
			background-size: 16px 16px;
			background-position: center center;
		}

			.svg-toggle.checkbox {
				background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><rect style='fill:black;' height='496' width='496' x='9.1' y='9.1'></rect><rect style='fill:white;' height='400' width='400' x='57.1' y='60.6'></rect></svg>");
			}

				.svg-toggle.checkbox.active,
				.btn.active > .svg-toggle.checkbox {
					background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><rect style='fill:black;' height='496' width='496' x='9.1' y='9.1'></rect><rect style='fill:white;' height='400' width='400' x='57.1' y='60.6'></rect><path style='fill:black;' d='M396.1,189.9L223.5,361.1c-4.7,4.7-12.3,4.6-17-0.1l-90.8-91.5c-4.7-4.7-4.6-12.3,0.1-17l22.7-22.5c4.7-4.7,12.3-4.6,17,0.1 l59.8,60.3l141.4-140.2c4.7-4.7,12.3-4.6,17,0.1l22.5,22.7C400.9,177.7,400.8,185.3,396.1,189.9L396.1,189.9z'></path></svg>");
					box-shadow: none !important;
				}

			.svg-toggle.radio {
				background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><circle style='fill:black;' cx='257.1' cy='257.1' r='248'></circle><circle style='fill:white;' cx='257.1' cy='257.1' r='200'></circle></svg>");
			}

				.svg-toggle.radio.active,
				.btn.active > .svg-toggle.radio {
					background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><circle style='fill:black;' cx='257.1' cy='257.1' r='248'></circle><circle style='fill:white;' cx='257.1' cy='257.1' r='200'></circle><circle style='fill:black;' cx='257.1' cy='257.1' r='91.5'></circle></svg>");
					box-shadow: none !important;
				}

		/* radioknapper skal ikke vises i PDF der bootstrap-styling ikke lastes inn */
		#vitecTemplate [data-toggle="buttons"] input {
			display: none;
		}
	</style>
	<table>
		<tbody>
			<tr class="no-border">
				<td colspan="100">
					<div vitec-template="resource: Mottaker">&nbsp;</div>

					<p><strong>Kommunale forhold p&aring; [[eiendom.gatenavnognr]] - [[komplettmatrikkelutvidet]] i [[eiendom.kommunenavn]] kommune</strong></p>

					<p>V&aring;rt firma har for salg ovennevnte eiendom tilh&oslash;rende:</p>
				</td>
			</tr>
			<tr class="no-border" vitec-if="Model.selgere.Count &gt; 0">
				<td colspan="37"><strong>Navn</strong></td>
				<td colspan="45"><strong>Adresse</strong></td>
				<td colspan="18"><strong>[[selger.ledetekst_fdato_orgnr]]</strong></td>
			</tr>
		</tbody>
		<tbody vitec-foreach="selger in Model.selgere">
			<tr class="no-border">
				<td colspan="37">[[*selger.navnutenfullmektigogkontaktperson]]</td>
				<td colspan="45">[[*selger.gatenavnognr]], [[*selger.postnr]] [[*selger.poststed]]</td>
				<td colspan="18">[[*selger.fdato_orgnr]]</td>
			</tr>
		</tbody>
		<tbody>
			<tr class="no-border">
				<td colspan="100">
					<p>Under henvisning til eiendomsmeglingsloven &sect; 6-7, ber vi om f&oslash;lgende opplysninger:</p>
				</td>
			</tr>
		</tbody>
	</table>

	<table style="page-break-inside:avoid">
		<tbody>
			<tr>
				<td colspan="66" data-toggle="buttons">Kommunale avgfiter pr. <label class="btn" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl001" type="radio" />Mnd</label> <label class="btn" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl001" type="radio" />Kvartal</label> <label class="btn" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl001" type="radio" />Halv&aring;r</label></td>
				<td colspan="17" data-label="Kr">&nbsp;</td>
				<td colspan="17" data-label="Forfaller:">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="100" data-label="Inkluderer">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="35">Er det restanse?</td>
				<td colspan="17" data-toggle="buttons"><label class="btn" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl002" type="radio" />Ja</label> <label class="btn" contenteditable="false" data-toggle="button"><span class="checkbox svg-toggle"></span> <input name="rbl002" type="radio" />Nei</label></td>
				<td colspan="20" data-label="Hvis ja, beløp kr">&nbsp;</td>
				<td colspan="28" data-label="Kontonummer for betaling:">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="100" data-label="Evt. adgang til utleie av eiendommen eller deler av denne til boligformål:">&nbsp;</td>
			</tr>
		</tbody>
	</table>

	<table style="page-break-inside:avoid">
		<tbody>
			<tr class="no-border">
				<td colspan="100">
					<p><strong>For [[mottaker.navn]]</strong></p>
				</td>
			</tr>
			<tr class="no-border">
				<td colspan="30" style="border-bottom:solid 1px #000000; height:30px">&nbsp;</td>
				<td colspan="10">&nbsp;</td>
				<td colspan="55" style="border-bottom:solid 1px #000000; height:30px">&nbsp;</td>
				<td colspan="5">&nbsp;</td>
			</tr>
			<tr class="no-border">
				<td colspan="30"><small>Sted, dato</small></td>
				<td colspan="10">&nbsp;</td>
				<td colspan="55"><small>Signatur</small></td>
				<td colspan="5">&nbsp;</td>
			</tr>
		</tbody>
	</table>

	<table style="page-break-inside:avoid">
		<tbody>
			<tr class="no-border">
				<td colspan="100">
					<p>
						<br />
						I tillegg ber vi om &aring; f&aring; tilsendt:
					</p>

					<ul>
						<li>Reguleringsplan med bestemmelser</li>
						<li>Kartutsnitt</li>
						<li>Arealbekreftelse</li>
						<li>M&aring;lebrev</li>
						<li>Ferdigattest/midlertidig brukstillatelse</li>
						<li>Evt. andre opplysninger som kan ha betydning for en ny eier</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>

	<table>
		<tbody>
			<tr class="no-border">
				<td colspan="100">
					<div style="page-break-inside:avoid">
						<p>Opplysningene bes returnert til v&aring;rt kontor snarest mulig, gjerne p&aring; e-post [[meglerkontor.epost]].</p>

						<p>P&aring; forh&aring;nd takk!</p>
					</div>

					<div vitec-template="resource: Avsender">&nbsp;</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>