<div id="vitecTemplate"><span vitec-template="resource:Vitec Stilark">&nbsp;</span>
<style type="text/css">#vitecTemplate {
    font-size: 9pt;
    font-family: Arial, sans-serif;
}

#vitecTemplate h1 {
    text-align: center;
    font-size: 14pt;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
}

#vitecTemplate h2 {
    font-size: 11pt;
    font-weight: bold;
    margin: 25px 0 10px 0;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
}

#vitecTemplate table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

#vitecTemplate table td {
    font-size: 9pt;
    padding: 3px 0;
    vertical-align: top;
}
</style>
<table>
	<tbody>
		<tr>
			<td style="text-align:right">&nbsp;[[oppdrag.nr]]</td>
		</tr>
	</tbody>
</table>
&nbsp;

<h1>OPPDRAGSAVTALE OM VERDIVURDERING (E-TAKST)</h1>

<h2>1. Oppdragsgiver</h2>

<table>
	<tbody>
		<tr>
			<td width="25%"><strong>Navn:&nbsp;&nbsp;</strong>[[selger.navn]]</td>
			<td width="75%">&nbsp;</td>
		</tr>
		<tr>
			<td>Postadresse:&nbsp;[[selger.adresse]]</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Telefon:&nbsp;[[selger.hovedtlf]]</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>E-post:&nbsp;[[selger.epost]]</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<h2>2. Eiendommen</h2>

<table>
	<tbody>
		<tr>
			<td width="25%">Adresse:</td>
			<td width="75%">[[eiendom.gatenavnognr]]</td>
		</tr>
		<tr>
			<td>Postnr/Poststed:</td>
			<td>[[eiendom.postnr]] [[eiendom.poststed]]</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td>
			<p>Matrikkel:</p>
			</td>
			<td>
			<p>[[komplettmatrikkelutvidet]]</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p><strong>Oppdragsgiver har hjemmel til eiendommen:&nbsp; </strong></p>

			<p>Ja, alene</p>

			<p>Ja,&nbsp;sammen&nbsp;med andre</p>

			<p>Nei</p>

			<p>Hvis nei, vennligst redegj&oslash;r for tilknytningen til eiendommen:</p>
			</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<h2>3. Oppdraget</h2>

<div class="WordSection1"><span style="page:WordSection1"></span>

<p><span style="page:WordSection1"><span style="font-size:10pt"><span style="line-height:normal"><span style="font-family:&quot;Arial&quot;,sans-serif">En E-takst er et kvalifisert skriftlig anslag over eiendommens markedsverdi og avgis etter beste skj&oslash;nn og overbevisning med bakgrunn i markedssituasjon, besiktigelse og eiers opplysninger om eiendommen. </span></span></span></span></p>

<p><span style="page:WordSection1"><span style="font-size:10pt"><span style="line-height:normal"><span style="font-family:&quot;Arial&quot;,sans-serif"></span></span></span></span></p>

<p><span style="page:WordSection1"><span style="font-size:10pt"><span style="line-height:normal"><span style="font-family:&quot;Arial&quot;,sans-serif">Megler vil ikke m&aring;le opp tomten eller boligen, det foretas ingen teknisk gjennomgang av eiendommen. Eiendomsmeglingslovens opplys&#39;nings- og unders&oslash;kelsesplikt jf. emgll. &sect; 6-7 gjelder ikke for oppdraget, noe som inneb&aelig;rer at de opplysninger/dokumenter som innhentes ved et ordin&aelig;rt eiendomsmeglingsoppdrag (eksempelvis, men ikke begrenset til, reguleringsplaner, heftelsesdelen i grunnboken, kommunal informasjon mv.) ikke blir innhentet og kontrollert. Opplysninger i slike dokumenter kan ha betydning for verdien, men anslaget over markedsverdien gj&oslash;res uten at disse er hensyntatt.</span></span></span></span></p>

<p><span style="page:WordSection1"><span style="font-size:10pt"><span style="line-height:normal"><span style="font-family:&quot;Arial&quot;,sans-serif"></span></span></span></span></p>

<p><span style="page:WordSection1"><span style="font-size:10pt"><span style="line-height:normal"><span style="font-family:&quot;Arial&quot;,sans-serif">E-taksten kan ikke leveres f&oslash;r meglerforetaket har foretatt tilfredsstillende kundetiltak som omtalt i pkt. 5.</span></span></span></span></p>
</div>
<span lang="NO-BOK" style="font-size:10.0pt"><span style="font-family:&quot;Arial&quot;,sans-serif"></span></span>

<div style="page-break-after:always"><span style="display:none">&nbsp;</span></div>

<h2>4. Form&aring;let med E-taksten</h2>

<p><strong>Form&aring;let med E-taksten avtales mellom partene:</strong><br />
&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td>Refinansiering i eksisterende bank</td>
			<td>Oppta l&aring;n for kj&oslash;p av sekund&aelig;rbolig<br />
			(utleiebolig)</td>
		</tr>
		<tr>
			<td>Bytte bank</td>
			<td>Vil bare vite hva boligen er verdt</td>
		</tr>
		<tr>
			<td>Oppta boligkreditt</td>
			<td>Arveoppgj&oslash;r/forskudd p&aring; arv</td>
		</tr>
		<tr>
			<td>Oppta l&aring;n til oppussing</td>
			<td>Samlivsbrudd</td>
		</tr>
		<tr>
			<td>Oppta l&aring;n for kj&oslash;p av fritidseiendom</td>
			<td>Refinansiere annen gjeld (privat gjeld e.l)</td>
		</tr>
	</tbody>
</table>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td>Stille bolig som sikkerhet for tredjemanns l&aring;n.<br />
			(Realkausjon)</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>S&oslash;ke finansieringsbevis for kj&oslash;p av ny bolig</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
&nbsp;&nbsp;

<p>N&aring;r ble boligen kj&oslash;pt? Oppgi &aring;rstall:<u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</u></p>

<p>&nbsp;</p>

<p>N&aring;r ble forrige verdivurdering foretatt? Oppgi &aring;rstall:<u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</u></p>

<p>&nbsp;</p>

<p>Eiendommen er ikke verdivurdert siden den ble kj&oslash;pt: JA / NEI:<u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</u></p>

<h2>5. Forholdet til hvitvaskingsregelverket</h2>

<p>Eiendomsmeglerforetak er underlagt hvitvaskingslovgivningen og er dermed pliktig til &aring; gjennomf&oslash;re &laquo;kundetiltak&raquo;. I dette ligger blant annet plikt til &aring; f&aring; bekreftet identiteten til Oppdragsgiver samt eventuelle &laquo;reelle rettighetshavere&raquo;. Normalt skjer slik bekreftelse ved fremvisning av gyldig legitimasjonsdokument (&laquo;personlig fremm&oslash;te&raquo;), ved bruk av bankID, eller ved fremleggelse av en &laquo;Bekreftet kopi&raquo; av et legitimasjonsdokument.</p>

<p>Vi ber om at gyldig legitimasjonsdokument, ev. en bekreftet kopi av gyldig legitimasjonsdokument, tas med til befaringen.</p>

<p>Dersom oppdragsgiver er d&oslash;dsbo, fullmektig eller en juridisk person stilles s&aelig;rskilte og ytterligere krav til kundetiltak f&oslash;r oppdraget kan iverksettes.</p>

<p>Politisk eksponert person (PEP):<br />
Eiendomsmeglerforetak er forpliktet til &aring; unders&oslash;ke om Oppdragsgiver, personer som handler p&aring; vegne av Oppdragsgiver, eller &laquo;reell rettighetshaver&raquo; er en politisk eksponert person, n&aelig;rt familiemedlem eller kjent medarbeider til en slik person. Vi ber derfor om at vedlagte erkl&aelig;ring fylles ut og signeres.</p>

<div style="page-break-after:always"><span style="display:none">&nbsp;</span></div>

<h2>6. Vederlag</h2>

<p><span lang="NO-BOK" style="font-size:10.0pt"><span style="line-height:106%"><span style="font-family:&quot;Arial&quot;,sans-serif">Det er avtalt at oppdragsgiver skal betale kr <u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</u>,-&nbsp;</span></span></span><span style="font-size:10pt"><span style="line-height:normal"><span style="font-family:&quot;Arial&quot;,sans-serif">inkl. mva. for e-taksten.&nbsp;</span></span></span><span lang="NO-BOK" style="font-size:10.0pt"><span style="line-height:106%"><span style="font-family:&quot;Arial&quot;,sans-serif"></span></span></span></p>

<p>&nbsp;</p>

<p><span lang="NO-BOK" style="font-size:10.0pt"><span style="line-height:106%"><span style="font-family:&quot;Arial&quot;,sans-serif">Bel&oslash;pet forfaller til betaling etter <u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</u>dager&nbsp;</span></span></span><span lang="NO-BOK" style="font-size:10.0pt"><span style="line-height:106%"><span style="font-family:&quot;Arial&quot;,sans-serif"></span></span></span></p>

<h2>7. Behandling av personopplysninger</h2>

<p><span style="font-size:10pt"><span style="line-height:normal"><span style="font-family:&quot;Arial&quot;,sans-serif">E-takstdokumentet vil v&aelig;re tilgjengelig for brukere med tilgang til Eiendomsverdi og lagres p&aring; Eiendomsverdi sine servere. Oppdragstaker vil lagre de personopplysninger som er angitt over i sitt datasystem sammen med selve E-taksten i minst 10 &aring;r regnet fra dagens dato iht. lovp&aring;lagt arkiveringsplikt.</span></span></span></p>

<p><span style="font-size:10pt"><span style="line-height:normal"><span style="font-family:&quot;Arial&quot;,sans-serif"></span></span></span></p>

<p><span lang="NO-BOK" style="font-size:10.0pt"><span style="line-height:106%"><span style="font-family:&quot;Arial&quot;,sans-serif">Ytterligere informasjon om proaktiv sin behandling av dine personopplysninger finnes nederst p&aring; v&aring;r hjemmeside www.proaktiv.no.</span></span></span></p>

<h2>8. Samtykke til bruk av elektronisk kommunikasjon</h2>

<p><span style="font-size:10pt"><span style="line-height:normal"><span style="font-family:&quot;Arial&quot;,sans-serif">Ved underskrift av denne avtale samtykker Oppdragsgiver til at Megler kan benytte elektronisk kommunikasjon.</span></span></span></p>

<h2>9. Informasjon om angrerett</h2>

<p><span style="font-size:10pt"><span style="line-height:normal"><span style="font-family:&quot;Arial&quot;,sans-serif">En forbruker som har inng&aring;tt oppdragsavtale med eiendomsmegler utenfor eiendomsmeglers kontor, kan uten begrunnelse si opp avtalen. Fristen for &aring; benytte angrerett er 14 dager fra dagen etter avtalen ble signert av oppdragsgiver og ansvarlig megler jf. angrerettloven &sect;&sect; 20 og 21. </span></span></span></p>

<p><span style="font-size:10pt"><span style="line-height:normal"><span style="font-family:&quot;Arial&quot;,sans-serif"></span></span></span></p>

<p><span style="font-size:10pt"><span style="line-height:normal"><span style="font-family:&quot;Arial&quot;,sans-serif">Oppdragsgiver ut&oslash;ver angrerett gjennom &aring; sende beskjed om dette innen 14 dager fra dagen etter oppdragsavtalen ble underskrevet av begge parter. Standardformular for &aring; ut&oslash;ve angrerett ligger som vedlegg til oppdragsavtalen. Det er ikke krav til at man fyller ut et angrerettskjema, men megler m&aring; f&aring; skriftlig beskjed om at man &oslash;nsker &aring; benytte angreretten. </span></span></span></p>

<p><span style="font-size:10pt"><span style="line-height:normal"><span style="font-family:&quot;Arial&quot;,sans-serif"></span></span></span></p>

<p><span style="font-size:10pt"><span style="line-height:normal"><span style="font-family:&quot;Arial&quot;,sans-serif">Angrerett gjelder ikke etter at oppdraget er p&aring;begynt og/eller fullf&oslash;rt, forutsatt at oppdragsgiveren uttrykkelig har samtykket til at leveringen av eiendomsmeglingsoppdraget starter f&oslash;r utl&oslash;pet av angrefristen p&aring; 14 dager, og har erkjent at det ikke er angrerett etter at tjenesten er p&aring;begynt eller fullf&oslash;rt.&nbsp; </span></span></span></p>

<p><span style="font-size:10pt"><span style="line-height:normal"><span style="font-family:&quot;Arial&quot;,sans-serif">Oppdragsgiver som benytter seg av angreretten etter &aring; uttrykkelig ha anmodet eiendomsmeglingsforetaket om &aring; begynne p&aring; oppdraget f&oslash;r angrefristen er g&aring;tt ut, m&aring; betale eiendomsmegler vederlag som avtalt i pkt. 6.</span></span></span></p>
&nbsp;

<p><span style="font-size:10pt"><span style="line-height:normal"><span style="font-family:&quot;Arial&quot;,sans-serif"><strong>F&oslash;rtidig oppstart av eiendomsmeglingstjenesten</strong></span></span></span></p>

<p><span lang="NO-BOK" style="font-size:10.0pt"><span style="line-height:106%"><span style="font-family:&quot;Arial&quot;,sans-serif">Jeg<span style="color:#ff0000"> (&oslash;nsker)(&oslash;nsker ikke) </span>at eiendomsmeglingsforetaket skal sette i gang arbeidet i henhold til oppdragsavtalen f&oslash;r angrefristen p&aring; 14 dager har utl&oslash;pt, og erkjenner at angreretten har g&aring;tt tapt n&aring;r tjenesten er levert.&nbsp; </span></span></span></p>

<p>&nbsp;</p>

<p>Sted/dato:</p>
&nbsp;

<table>
	<tbody>
		<tr>
			<td width="45%">
			<div style="border-bottom:1px solid #000000; height:30px">&nbsp;</div>

			<div style="font-size:8pt">&nbsp;</div>

			<div style="font-size:8pt">[[selger.navn]]</div>
			</td>
			<td width="10%">&nbsp;</td>
			<td width="45%">
			<div style="border-bottom:1px solid #000000; height:30px">&nbsp;</div>

			<div style="font-size:8pt">&nbsp;</div>

			<div style="font-size:8pt">[[megler1.navn]]</div>

			<div style="font-size:8pt">&nbsp;</div>

			<div style="font-size:8pt">&nbsp;</div>

			<div style="font-size:8pt">&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
</div>