<p>Hei,</p>

<p>&nbsp;</p>

<p>Jeg takker for hyggelig samtale tidligere og bekrefter med dette avtale om befaring av eiendommen din [[eiendom.gatenavnognr]], [[besiktigelse.dato]] [[besiktigelse.klokkeslett]].</p>

<p>&nbsp;</p>

<p>Jeg ser frem til &aring; treffe deg og til det som blir en grundig og god gjennomgang av din bolig. Vi overlater ingenting til tilfeldighetene og det vil gi oss et solid grunnlag for &aring; legge en god salgsstrategi.</p>

<p>&nbsp;</p>

<p>Jeg &oslash;nsker deg en fortsatt fin dag.</p>

<div vitec-template="resource: SMS-signatur">&nbsp;</div>