<p>Hei [[selger.fornavn]],</p>

<p>&nbsp;</p>

<p>Her kommer en kort orientering om hvordan jeg jobber for &aring; f&aring; inn bud p&aring; din eiendom:</p>

<p>Alle interessenter har n&aring; f&aring;tt SMS med info om at det er &aring;pent for &aring; legge inn bud, samt. hvordan dette skal gj&oslash;res. Videre vil jeg n&aring; kontakte alle interessenter p&aring; tlf slik at eventuelle uklarheter kan avklares, mitt m&aring;l er &aring; f&aring; flest mulig med p&aring; budrunden.</p>

<p>&nbsp;</p>

<p>Tidligste budfrist er i dag kl. 12.00. Det er viktig at du er tilgjengelig for eventuelt &aring; kunne akseptere /avsl&aring; bud utover dagen.</p>

<p>&nbsp;</p>

<p>Du f&aring;r automatiske SMS varslinger s&aring; snart eventuelle bud blir registrert.</p>

<p>&nbsp;</p>

<p>Jeg skal gj&oslash;re mitt ytterste og &oslash;nsker deg lykke til med salget.</p>

<div vitec-template="resource: SMS-signatur">&nbsp;</div>