<p>Hei [[selger.fornavn]],</p>

<p>&nbsp;</p>

<p>En vennlig p&aring;minnelse om morgendagens visning av din eiendom [[eiendom.gatenavnognr]]. Visningstiden er: [[eiendom.nestevisning.formaterttekst]]</p>

<p>&nbsp;</p>

<p>Det er viktig at du i forkant av visningen har luftet godt ut, alle rom er ryddige, det er godt og varmt &ndash; ja at boligen fremst&aring;r fra sin beste side.</p>

<p>Jeg kommer i god tid f&oslash;r visningsstart og sammen gj&oslash;r vi de siste forberedelser til visningen</p>

<p>Jeg skal finne svar p&aring; alle sp&oslash;rsm&aring;lene de potensielle kj&oslash;perne har og ha radaren p&aring;. Jo mer jeg vet om interessentene, jo bedre kan jeg f&oslash;lge opp, og jo mer kan jeg p&aring;virke forhandlingsrunden i jakten p&aring; den rette kj&oslash;peren.</p>

<p>&nbsp;</p>

<p>Ser frem til visningen i morgen og &oslash;nsker deg en fin dag videre.</p>

<div vitec-template="resource: SMS-signatur">&nbsp;</div>