<div id="vitecTemplate"><span vitec-template="resource:Vitec Stilark">&nbsp;</span>
<style type="text/css">/* Indikere "Sett inn tekst her..." med <span class="insert-table"><span data-label="Sett inn tekst her..." class="insert"></span></span> */

        span.insert:empty {
            font-size: inherit !important;
            line-height: inherit !important;
            display: inline-block;
            background-color: lightpink;
            min-width: 2em !important;
            height: .7em !important;
            text-align: center;
        }

        span.insert:empty:before {
            content: attr(data-label);
        }

        span.insert:empty:hover {
            background-color: #fff;
            cursor: pointer;
        }

        .insert-table {
            display: inline-table;
        }

        .insert-table>span,
        .insert-table>span.insert {
            display: table-cell;
        }

        #vitecTemplate table {
            width: 100%;
            table-layout: fixed;
        }
</style>
<table>
	<tbody>
		<tr>
			<td>
			<div vitec-template="resource: Mottaker">&nbsp;</div>
			</td>
		</tr>
		<tr>
			<td>
			<p><strong>Vedr. eiendommen [[eiendom.gatenavnognr]] - [[komplettmatrikkelutvidet]] i [[eiendom.kommunenavn]] kommune</strong></p>

			<p>Overdras fra:</p>

			<table style="table-layout:fixed; width:100%" vitec-if="Model.selgere.Count &gt; 0">
				<thead>
					<tr>
						<th colspan="37"><strong>Selger<span vitec-if="Model.selgere.Count &gt; 1">e</span></strong></th>
						<th colspan="45"><strong>Adresse/Kontaktinfo</strong></th>
						<th colspan="18">[[selger.ledetekst_fdato_orgnr]]</th>
					</tr>
				</thead>
				<tbody vitec-foreach="selger in Model.selgere">
					<tr>
						<td colspan="37" rowspan="2">[[*selger.navn]]</td>
						<td colspan="45">[[*selger.gatenavnognr]], [[*selger.postnr]] [[*selger.poststed]]</td>
						<td colspan="18">[[*selger.fdato_orgnr]]</td>
					</tr>
					<tr>
						<td colspan="63"><span vitec-if="selger.tlf != &quot;&quot;">Tlf: [[*selger.tlf]]</span> <span vitec-if="(selger.tlf != &quot;&quot; &amp;&amp; selger.emailadresse != &quot;&quot;)"> / </span> <span vitec-if="selger.emailadresse != &quot;&quot;">E-post: [[*selger.emailadresse]]</span></td>
					</tr>
				</tbody>
			</table>

			<p>til:</p>

			<table style="table-layout:fixed; width:100%" vitec-if="Model.kjopere.Count &gt; 0">
				<thead>
					<tr>
						<th colspan="37"><strong>Kj&oslash;per<span vitec-if="Model.kjopere.Count &gt; 1">e</span> </strong></th>
						<th colspan="45"><strong>Adresse/Kontaktinfo</strong></th>
						<th colspan="18">[[kjoper.ledetekst_fdato_orgnr]]</th>
					</tr>
				</thead>
				<tbody vitec-foreach="kjoper in Model.kjopere">
					<tr>
						<td colspan="37" rowspan="2">[[*kjoper.navn]]</td>
						<td colspan="45">[[*kjoper.gatenavnognr]],&nbsp;[[*kjoper.postnr]]&nbsp;[[*kjoper.poststed]]</td>
						<td colspan="18">[[*kjoper.fdato_orgnr]]</td>
					</tr>
					<tr>
						<td colspan="63"><span vitec-if="kjoper.tlf != &quot;&quot;">Tlf: [[*kjoper.tlf]]</span> <span vitec-if="(kjoper.tlf != &quot;&quot; &amp;&amp; kjoper.emailadresse != &quot;&quot;)"> / </span> <span vitec-if="kjoper.emailadresse != &quot;&quot;">E-post: [[*kjoper.emailadresse]]</span></td>
					</tr>
				</tbody>
			</table>

			<p>Tekst her.</p>

			<p>Overdras fra:</p>

			<table vitec-if="Model.selgere.Count &gt; 0">
				<tbody vitec-foreach="selger in Model.selgere">
					<tr>
						<td colspan="37" rowspan="1">[[*selger.navn]]</td>
						<td colspan="15" rowspan="1" style="align:right">[[*selger.ledetekst_fdato_orgnr]]</td>
						<td colspan="48">[[*selger.fdato_orgnr]]</td>
					</tr>
				</tbody>
			</table>

			<p>til:</p>

			<table vitec-if="Model.kjopere.Count &gt; 0">
				<tbody vitec-foreach="kjoper in Model.kjopere">
					<tr>
						<td colspan="37" rowspan="1">[[*kjoper.navn]]</td>
						<td colspan="15" rowspan="1" style="align:right">[[*kjoper.ledetekst_fdato_orgnr]]</td>
						<td colspan="48">[[*kjoper.fdato_orgnr]]</td>
					</tr>
				</tbody>
			</table>

			<p><span class="insert-table"> <span class="insert" data-label="Fyll inn"></span> </span></p>
			</td>
		</tr>
		<tr>
			<td>
			<div vitec-template="resource: Avsender">&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
</div>