<div id="vitecTemplate"><span contenteditable="false" vitec-template="resource:Vitec Stilark"> </span>
<h1>INFORMASJON OM OFF-MARKET SALG</h1>

<p>Hei [[selger.fornavn]],</p>

<p>Vi viser til v&aring;rt oppdrag p&aring; salg av eiendommen <strong>[[eiendom.adresse]]</strong>. [[oppdrag.systemid]]</p>

<p>Du har ytret &oslash;nske om &aring; selge eiendommen utenfor det &aring;pne markedet, det vil si salg uten annonsering og markedsf&oslash;ring. Nedenfor f&oslash;lger en redegj&oslash;relse for forskjellene p&aring; hva det inneb&aelig;rer &aring; selge i og utenfor det &aring;pne markedet.</p>

<p><strong>Salg i det &aring;pne markedet</strong></p>

<p>Den alminnelige m&aring;ten &aring; selge bolig p&aring; i Norge er &aring; annonsere boligen slik at potensielle boligkj&oslash;pere f&aring;r tilgjengeliggjort informasjon om at boligen er til salgs. Herunder annonseres boligen p&aring; de st&oslash;rste nettsidene for boligannonsering, eventuelt benyttes avisannonsering og annonsering i sosiale medier, interessentregister, m.m.</p>

<p>Desto mer omfattende og/eller intelligent markedsf&oslash;ring man benytter, desto st&oslash;rre sjanse er det for at alle de potensielle boligkj&oslash;perne kommer p&aring; visningen. Deretter selges boligen etter &laquo;auksjonsprinsippet&raquo;. Herunder er det potensiale for flere budgivere p&aring; den annonserte boligen.</p>

<p>Ved &aring; fremme salget p&aring; en slik m&aring;te vil tilbud (boligen er annonsert for salg), ettersp&oslash;rsel (potensielle budgivere er kjent med tilbudet og kan komme p&aring; visning) og &quot;auksjonsprinsippet&quot; (budrunde) regulere prosessen.</p>

<p><em>Proaktiv anbefaler alltid salg i det &aring;pne markedet, da tilbud, ettersp&oslash;rsel og &quot;auksjonsprinsippet&quot; sikrer at boligselger oppn&aring;r markedspris.</em></p>

<p><strong>Salg utenfor det &aring;pne markedet (Off-market)</strong></p>

<p>Dersom boligen ikke selges i det &aring;pne markedet er det risiko for f&oslash;lgende:</p>

<ul>
	<li>Man n&aring;r ikke ut til alle potensielle kj&oslash;pere.</li>
	<li>De som inviteres til visning vil v&aelig;re en begrenset andel av mulige kj&oslash;pere.</li>
	<li>Man kan f&aring; f&aelig;rre p&aring; visning.</li>
	<li>Det kan bli f&aelig;rre budgivere.</li>
	<li><strong>Prisen som oppn&aring;s for boligen kan v&aelig;re lavere enn hva man kunne ha oppn&aring;dd ved et salg i det &aring;pne&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong>&nbsp;<strong>&nbsp; &nbsp; &nbsp; &nbsp; markedet.</strong></li>
	<li>Enkelte av dem som inviteres til visning vil kunne v&aelig;re kunder som megler har solgt for eller til tidligere (megler&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; kan ha en relasjon til kunden).</li>
</ul>

<div class="highlight-box">&nbsp;</div>

<div class="highlight-box"><strong>BEKREFTELSE</strong><br />
<br />
Du er herunder opplyst om meglers generelle anbefaling og risikoen ved salg utenfor det &aring;pne markedet, men &oslash;nsker allikevel &aring; selge boligen utenfor det &aring;pne markedet.<br />
<br />
F&oslash;r vi kan g&aring; videre i salgsprosessen, ber vi om din begrunnelse for salg utenfor markedet som svar p&aring; denne e-posten.</div>

<p>Med vennlig hilsen,<br />
<strong>[[avsender.navn]]</strong><br />
[[meglerkontor.navn]]</p>
</div>