<div id="vitecTemplate"><span contenteditable="false" vitec-template="resource:Vitec Stilark"> </span>
<h1>Informasjon frem mot overtakelse og oppgj&oslash;r</h1>

<p>Hei,</p>

<p>Frem til overtakelse er det mye som skal skje, s&aring; her kommer en oppsummering om neste steg i prosessen.</p>

<h2>Oppgaver som m&aring; utf&oslash;res F&Oslash;R overtakelsen</h2>

<p><strong>Overf&oslash;ring av pant:</strong><br />
Dersom du skal overf&oslash;re eksisterende l&aring;n med pant i boligen din til ny eiendom, m&aring; det v&aelig;re ordnet n&oslash;dvendig sikkerhet for en slik overf&oslash;ring i god tid. Forsinkelser i oppgj&oslash;ret som f&oslash;lge av dette er selgers ansvar.</p>

<p><strong>Forsikring:</strong><br />
Selger kan si opp sin forsikring pr. overtakelsesdato. Det er selgers ansvar &aring; holde eiendommen forsikret helt frem til overtakelsen er gjennomf&oslash;rt.</p>

<h2>Gjennomf&oslash;ring av overtakelsen</h2>

<p>Det er avtalt at selger og kj&oslash;per skal m&oslash;tes p&aring; eiendommen:<br />
<strong>Dato: [[kontrakt.overtagelse.dato]] kl. [[kontrakt.overtagelse.klokkeslett]]</strong></p>

<p>P&aring; overtakelsen skal eiendommen gjennomg&aring;s sammen med kj&oslash;per. Overtakelsesprotokoll m&aring; fylles ut &ndash; denne blir tilsendt deg p&aring; SMS p&aring; morgenen overtakelsesdagen.</p>

<ul>
	<li>Boligen skal v&aelig;re ryddet og rengjort.</li>
	<li>Str&oslash;mm&aring;ler skal leses av og noteres i protokollen.</li>
	<li>N&oslash;kler overleveres KUN hvis du har mottatt bekreftelse fra oss om at oppgj&oslash;ret er innbetalt.</li>
</ul>

<h2>Tinglysing og oppgj&oslash;r</h2>

<p>Oppgj&oslash;ret gjennomf&oslash;res av v&aring;r oppgj&oslash;rsavdeling. Adressen dit er:<br />
<strong>[[oppgjor.kontornavn]]</strong><br />
[[oppgjor.postadresse]], [[oppgjor.postnr]] [[oppgjor.poststed]]</p>

<p>Kontaktinfo: Tlf [[oppgjor.kontortlf]] | E-post: [[oppgjor.kontorepost]]</p>

<p>N&aring;r hjemmelen er overf&oslash;rt til ny eier og oppgj&oslash;ret er foretatt vil det bli sendt ut en oppgj&oslash;rsoppstilling som viser hvordan salgssummen er disponert.</p>

<p><strong>Markedsf&oslash;ring:</strong><br />
Vi gj&oslash;r oppmerksom p&aring; at din eiendom kan bli benyttet i markedsf&oslash;ring av meglerforetaket (solgt-plakater o.l.). Partene holdes selvsagt anonyme. Gi oss beskjed hvis dette ikke er &oslash;nskelig.</p>

<p>Takk for at du valgte Proaktiv! Vi h&aring;per du er forn&oslash;yd med jobben vi har gjort.</p>

<p>&nbsp;</p>
</div>