<div id="vitecTemplate"><span contenteditable="false" vitec-template="resource:Vitec Stilark"> </span>
<h1>Informasjon frem mot overtakelse</h1>

<p>Hei,</p>

<p>Vedlagt ligger signert kj&oslash;pekontrakt. Det er viktig at du leser dette n&oslash;ye for &aring; sikre en smidig overtakelse.</p>

<h2>Viktige oppgaver</h2>

<p><strong>Oppgj&oslash;rsskjema:</strong><br />
M&aring; returneres snarest hvis det ikke allerede er gjort.</p>

<p><strong>Finansiering:</strong><br />
Send kopi av kj&oslash;pekontrakten til din bank/r&aring;dgiver med en gang for &aring; unng&aring; eventuelle forsinkelser. Vi anbefaler at innbetaling til v&aring;r konto er p&aring; plass 2 dager f&oslash;r overtakelsen.</p>

<p><strong>Innbetaling:</strong><br />
Hele oppgj&oslash;ret skal betales til klientkonto oppgitt i kontrakten. Vi gir aldri betalingsinstrukser p&aring; e-post som avviker fra kontrakten (pga svindelfare).</p>

<p><strong>Forsikring:</strong><br />
Du m&aring; selv tegne hus/innboforsikring som trer i kraft fra og med overtakelsesdatoen.</p>

<h2>Overtakelse</h2>

<p>Overtakelsen blir avholdt <strong>[[kontrakt.overtagelse.dato]] kl. [[kontrakt.overtagelse.klokkeslett]] </strong>og sammen med selger gjennomg&aring;r dere boligen og fyller ut og signerer overtakelsesprotokollen dere f&aring;r tilsendt pr. SMS</p>

<h2>Tinglysing og oppgj&oslash;r</h2>

<p>N&aring;r vi har mottatt signert protokoll, sendes skj&oslash;tet til tinglysing. N&aring;r tinglysing er bekreftet, utbetaler vi til selger.</p>

<p>Det kan ta inntil 3 m&aring;neder f&oslash;r selgers gamle l&aring;n er slettet fra grunnboken. Dette er normal saksgang.</p>

<p>&nbsp;</p>

<p>Gratulerer med ny bolig!</p>

<p>&nbsp;</p>
</div>