<p>Hei,</p>

<p>&nbsp;</p>

<p>Vi skal foreta eiendomsoppgj&oslash;r av eiendom [[eiendom.gatenavnognr]], snr.&nbsp;[[*matrikkel.snr]]&nbsp;for selgerne&nbsp;[[selger.navn]]&nbsp;og&nbsp;i den forbindelse m&aring; vi &aring; vite om det foreligger utest&aring;ende felleskostnader til sameiet p&aring; denne seksjonen.</p>

<p>&nbsp;</p>

<p>Fint om du kan sende svar til meg p&aring; sms&nbsp;[[avsender.mobiltlf]]&nbsp;eller e-post&nbsp;[[avsender.epost]].</p>

<div vitec-template="resource: SMS-signatur">&nbsp;</div>