<p>Hei [[selger.fornavn]],</p>

<p>&nbsp;</p>

<p>Da har vi kommet s&aring; langt at boligen din er publisert til nettportaler og p&aring; v&aring;r hjemmeside.</p>

<p>&nbsp;</p>

<p>Link til boligannonsen p&aring; finn.no: [[oppdrag.lenkefinnannonse]]</p>

<p>Link til v&aring;r hjemmeside:https://proaktiv.no/[[oppdrag.nr]]</p>

<p>Som avtalt er f&oslash;rstkommende visning satt opp den [[eiendom.nestevisning.formaterttekst]]</p>

<p>Vi gleder oss til &aring; f&oslash;lge responsen i markedet og jeg kommer tilbake til deg for en statusrapport om et par dager.</p>

<p>&nbsp;</p>

<p>Om noe er uklart eller du lurer p&aring; noe er det bare &aring; ta kontakt.</p>

<div vitec-template="resource: SMS-signatur">&nbsp;</div>