<style type="text/css">
	@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

	html, body {
		margin: 0;
		padding: 0;
	}

	#vitecTemplate * {
		font-variant-ligatures: none;
	}

	#vitecTemplate table {
		margin: 0;
		padding: 0;
		width: 100%;
		border-collapse: collapse;
		font-family: 'Open sans', sans-serif;
		font-size: 8pt;
		line-height: 10pt;
		table-layout: fixed;
	}

	#vitecTemplate td[data-label] {
		padding: 16px 2px 4px 3px;
		position: relative;
	}

		#vitecTemplate td[data-label]:before {
			content: attr(data-label);
			text-align: left;
			color: #333;
			font-size: 7pt;
			line-height: 8pt;
			text-transform: uppercase;
			display: block;
			position: absolute;
			top: 1px;
		}

	#vitecTemplate tr th,
	#vitecTemplate tr td {
		vertical-align: middle;
		border: solid 1px #000;
		font-family: 'Open sans', sans-serif;
		font-size: 8pt;
		line-height: 9pt;
	}

	#vitecTemplate td.no-border {
		border: none;
	}

	#vitecTemplate [contenteditable="false"] * {
		user-select: none;
	}
</style>
<div id="vitecTemplate" style="padding-left:1cm; padding-right:1cm">
	<table>
		<tbody>
			<tr>
				<td colspan="25" data-label="Dato">&nbsp;</td>
				<td colspan="75" data-label="Pantsetters underskrift">&nbsp;</td>
			</tr>
			<tr contenteditable="false">
				<td class="no-border" colspan="20"><small>Statens kartverk - rev 01/19</small></td>
				<td class="no-border" colspan="60" style="text-align:center"><small>Pantedokument - Panterett i <span vitec-if="Model.eiendom.eieform != &quot;Andel&quot;">fast eiendom</span><span vitec-if="Model.eiendom.eieform == &quot;Andel&quot;">andel i borettslag</span></small></td>
				<td class="no-border" colspan="20" style="text-align:right"><small>Side [[p]] av [[P]]</small></td>
			</tr>
		</tbody>
	</table>
</div>