<div id="vitecTemplate"><span vitec-template="resource:Vitec Stilark">&nbsp;</span>
<style type="text/css">#bunntekstTabell {
            width: 21cm;
            table-layout: fixed;
            border-collapse: collapse;
            box-sizing: border-box;
            height: 1.4cm;
        }

        #bunntekstTabell tr > td {
            vertical-align: top;
            padding: 0px 8px;
            font-size: 9pt;
        }
</style>
<table id="bunntekstTabell">
	<tbody>
		<tr>
			<td colspan="65" style="padding-left:1cm">[[meglerkontor.navn]]<br />
			[[meglerkontor.adresse]], [[meglerkontor.postnr]] [[meglerkontor.poststed]]<br />
			Tlf: [[meglerkontor.tlf]], e-post: [[meglerkontor.epost]]</td>
			<td colspan="2">&nbsp;</td>
			<td colspan="35" style="padding-right:1cm">
			<table style="width:100%">
				<tbody>
					<tr>
						<td colspan="100" style="text-align:right">&nbsp;<br />
						Side [[p]] av [[P]]</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>