<div id="vitecTemplate">
	<span vitec-template="resource:Vitec Stilark">&nbsp;</span>
	<style type="text/css">
		/* Indikere "Sett inn tekst her..." med <span class="insert-table"><span data-label="Sett inn tekst her..." class="insert"></span></span> */

		span.insert:empty {
			font-size: inherit !important;
			line-height: inherit !important;
			display: inline-block;
			background-color: lightpink;
			min-width: 2em !important;
			height: .7em !important;
			text-align: center;
		}

			span.insert:empty:before {
				content: attr(data-label);
			}

			span.insert:empty:hover {
				background-color: #fff;
				cursor: pointer;
			}

		.insert-table {
			display: inline-table;
		}

			.insert-table > span,
			.insert-table > span.insert {
				display: table-cell;
			}

		#vitecTemplate table {
			width: 100%;
			table-layout: fixed;
			border-collapse: collapse;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}
	</style>
	<table>
		<tbody>
			<tr>
				<td>
					<div vitec-template="resource: Mottaker">&nbsp;</div>

					<p><strong>Vedr. pant p&aring; eiendommen [[eiendom.gatenavnognr]] - [[komplettmatrikkelutvidet]] i [[eiendom.kommunenavn]] kommune</strong></p>

					<p>V&aring;rt firma har for salg ovennevnte eiendom tilh&oslash;rende:</p>

					<table vitec-if="Model.selgere.Count &gt; 0">
						<thead>
							<tr>
								<th colspan="37"><strong>Navn </strong></th>
								<th colspan="45"><strong>Adresse</strong></th>
								<th colspan="18"><strong>[[selger.ledetekst_fdato_orgnr]]</strong></th>
							</tr>
						</thead>
						<tbody vitec-foreach="selger in Model.selgere">
							<tr>
								<td colspan="37">[[*selger.navn]]</td>
								<td colspan="45">[[*selger.gatenavnognr]], [[*selger.postnr]] [[*selger.poststed]]</td>
								<td colspan="18">[[*selger.fdato_orgnr]]</td>
							</tr>
						</tbody>
					</table>

					<p>I den forbindelse vises det til deres pant:</p>

					<table>
						<tbody>
							<tr>
								<td colspan="25"><strong>Type</strong></td>
								<td colspan="20"><strong>Bel&oslash;p</strong></td>
								<td colspan="20"><strong><span vitec-if="(Model.eiendom.eieform == &quot;Selveier&quot; || Model.eiendom.eieform == &quot;Sameie&quot; || Model.eiendom.eieform == &quot;Andel&quot;)">Tinglyst </span><span vitec-if="(Model.eiendom.eieform == &quot;Aksje&quot; || Model.eiendom.eieform == &quot;Obligasjonsleilighet&quot;)">Notert </span>dato</strong></td>
								<td colspan="20"><strong><span vitec-if="(Model.eiendom.eieform == &quot;Selveier&quot; || Model.eiendom.eieform == &quot;Sameie&quot; || Model.eiendom.eieform == &quot;Andel&quot;)">Dokumentnr.</span></strong></td>
								<td colspan="15">&nbsp;</td>
							</tr>
						</tbody>
						<tbody vitec-foreach="pant in Model.oppdrag.mottakerspantforinnfrielse">
							<tr>
								<td colspan="25">[[*pant.type]]</td>
								<td colspan="20">kr $.UD([[*pant.belop]])</td>
								<td colspan="20">[[*pant.tinglystdato]]</td>
								<td colspan="20"><span vitec-if="(Model.eiendom.eieform == &quot;Selveier&quot; || Model.eiendom.eieform == &quot;Sameie&quot; || Model.eiendom.eieform == &quot;Andel&quot;)">[[*pant.dokumentnr]]</span></td>
								<td colspan="15">&nbsp;</td>
							</tr>
						</tbody>
					</table>

					<p>Etter <span vitec-if="(Model.eiendom.eieform == &quot;Aksje&quot; || Model.eiendom.eieform == &quot;Obligasjonsleilighet&quot;)"> opplysninger fra forretningsf&oslash;rer og etter</span> gjennomgang av panteheftelsene fremg&aring;r det at eiendommen er beheftet med et st&oslash;rre bel&oslash;p enn hva vi antar at eiendommen kan omsettes for i dagens marked.</p>

					<p>F&oslash;r vi starter salgsarbeidet tilskriver vi derfor samtlige panthavere i likelydende brev. Slik eiendommen er beheftet gj&oslash;r vi oppmerksom p&aring; at panthavere registrert etter <span vitec-if="(Model.eiendom.eieform == &quot;Aksje&quot; || Model.eiendom.eieform == &quot;Obligasjonsleilighet&quot;)"> <span> <span class="insert-table"> <span class="insert" data-label="Dato"></span> </span> </span> </span> <span vitec-if="(Model.eiendom.eieform == &quot;Selveier&quot; || Model.eiendom.eieform == &quot;Sameie&quot; || Model.eiendom.eieform == &quot;Andel&quot;)"> dokumentnr. <span class="insert-table"> <span class="insert" data-label="Dokumentnr. "></span> </span> </span> m&aring; v&aelig;re forberedt p&aring; ikke &aring; f&aring; dekning for sine krav.&nbsp;Vi ber derfor om &aring; f&aring; opplyst om disse panthavere er villige til &aring; slette sine heftelser i eiendommen uten fullt eller noe&nbsp;oppgj&oslash;r.</p>

					<p>Ut fra dagens markedssituasjon forventer vi at eiendommen vil bli omsatt for ca. <strong>kr $.UD([[eiendom.pris]])</strong>. Vi vil arbeide for &aring; oppn&aring; best mulig pris for eiendommen.</p>

					<p>Vedlagt finner dere kopi av takst <span vitec-if="(Model.eiendom.eieform == &quot;Selveier&quot; || Model.eiendom.eieform == &quot;Sameie&quot; || Model.eiendom.eieform == &quot;Andel&quot;)"> og grunnboksutskrift</span>, og vi ber om deres skriftlige aksept p&aring; vedlagte erkl&aelig;ring. Det er av stor betydning at vi mottar deres snarlige svar.</p>

					<div vitec-template="resource: Avsender">&nbsp;</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>