<div><span style="font-family:calibri,sans-serif; font-size:11pt">&nbsp;</span><br />
<span style="font-family:calibri,sans-serif; font-size:11pt">&nbsp;</span><br />
<span style="font-family:calibri,sans-serif; font-size:11pt">&nbsp;</span><br />
<span style="font-family:calibri,sans-serif; font-size:11pt">Med vennlig hilsen</span><br />
<span style="font-family:calibri,sans-serif; font-size:11pt">[[avsender.navn]]</span><br />
<span style="font-family:calibri,sans-serif; font-size:11pt">&nbsp;</span><br />
<span style="font-family:calibri,sans-serif; font-size:11pt">[[avsender.tittel]]</span><br />
<span style="font-family:calibri,sans-serif; font-size:11pt">[[avsender.meglerkontor.navn]]</span><br />
<span style="font-family:calibri,sans-serif; font-size:11pt">Mobil:&nbsp;[[avsender.mobiltlf]], e-post:&nbsp;[[avsender.epost]]</span><span style="font-family:calibri,sans-serif; font-size:11pt">&nbsp;</span><br />
<span style="font-family:calibri,sans-serif; font-size:11pt">Bes&oslash;ksadresse:&nbsp;[[avsender.meglerkontor.besoksadresse]],&nbsp;[[avsender.meglerkontor.postnr]]&nbsp;[[avsender.meglerkontor.poststed]]</span></div>