<div id="vitecTemplate">
	<span vitec-template="resource:Vitec Stilark">&nbsp;</span>
	<style type="text/css">
		#vitecTemplate table {
			width: 100%;
			table-layout: fixed;
			border-collapse: collapse;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}

			#vitecTemplate table tr.border td {
				border-top: solid 1px black;
				padding-left: 5px;
				height: 33px;
				vertical-align: middle;
			}

			#vitecTemplate table td[data-label]:before {
				content: attr(data-label);
				text-align: left;
				color: #333;
				font-size: 9pt;
				line-height: 8pt;
				display: block;
				position: absolute;
				top: 1px;
			}

			#vitecTemplate table td[data-choice]:after {
				content: attr(data-choice);
				text-align: center;
				font-size: 9pt;
				font-weight: normal;
				line-height: 8pt;
				color: #333;
				display: block;
				position: absolute;
				bottom: 1px;
				left: 0;
				right: 0;
			}

			#vitecTemplate table td[data-label] {
				padding: 16px 2px 4px 2px;
				position: relative;
			}

			#vitecTemplate table td[data-choice] {
				padding: 4px 2px 16px 2px;
				position: relative;
			}

			/* tabellceller med baade label og valg-tekst */

			#vitecTemplate table td[data-label][data-choice] {
				padding: 16px 2px 16px 2px;
				position: relative;
			}
	</style>
	<table>
		<tbody>
			<tr>
				<td>
					<p style="text-align:right">Oppdragsnr.: [[oppdrag.nr]]</p>

					<p>&nbsp;</p>

					<p style="text-align:center"><span style="font-size:14pt"> <strong>ERKL&AElig;RING</strong> </span></p>

					<p>Undertegnede, som panthaver i eiendommen [[eiendom.gatenavnognr]] - [[komplettmatrikkelutvidet]] i [[eiendom.kommunenavn]] kommune, erkl&aelig;rer herved at jeg/vi har f&oslash;lgende krav i denne:</p>

					<p><strong>Spesifikasjon av pantekravet:</strong></p>

					<p>V&aring;rt krav i eiendommen pr. _____________ er som f&oslash;lger:</p>
				</td>
			</tr>
		</tbody>
	</table>

	<table border="1" style="border:solid 1px black">
		<tbody>
			<tr>
				<td colspan="25"><strong><span vitec-if="(Model.eiendom.eieform == &quot;Selveier&quot; || Model.eiendom.eieform == &quot;Sameie&quot; || Model.eiendom.eieform == &quot;Andel&quot;)">Dokumentnr./</span>L&aring;nnr.</strong></td>
				<td colspan="18" style="text-align:center"><strong>Hovedstol</strong></td>
				<td colspan="19" style="text-align:center"><strong>P&aring;l&oslash;pte renter</strong></td>
				<td colspan="18" style="text-align:center"><strong>Omkostninger</strong></td>
				<td colspan="20" style="text-align:center"><strong>Sum krav</strong></td>
			</tr>
		</tbody>
		<tbody vitec-foreach="pant in Model.oppdrag.mottakerspant">
			<tr>
				<td colspan="25"><span vitec-if="(Model.eiendom.eieform == &quot;Selveier&quot; || Model.eiendom.eieform == &quot;Sameie&quot; || Model.eiendom.eieform == &quot;Andel&quot;)">[[*pant.dokumentnr]]</span></td>
				<td colspan="18">&nbsp;</td>
				<td colspan="19">&nbsp;</td>
				<td colspan="18">&nbsp;</td>
				<td colspan="20">&nbsp;</td>
			</tr>
		</tbody>
	</table>

	<table>
		<tbody>
			<tr>
				<td colspan="100">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="100">I henhold til pantelovens &sect; 1-5 kan det normalt kun kreves renter inntil to &aring;r f&oslash;r begj&aelig;ring om tvangssalg er datert.</td>
			</tr>
		</tbody>
	</table>

	<table border="1" style="border:solid 1px black">
		<tbody>
			<tr>
				<td colspan="60" style="vertical-align:middle">Informasjon om begj&aelig;ringen:</td>
				<td colspan="20" data-label="dato">&nbsp;</td>
				<td colspan="20" data-label="dokumentnr.">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="45" style="vertical-align:middle">V&aring;rt samlede krav i eiendommen er totalt:</td>
				<td colspan="35" style="vertical-align:middle">Kr</td>
				<td colspan="20" data-label="pr. dato">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="45" style="vertical-align:middle">Renter er beregnet</td>
				<td colspan="15" data-label="med rentesats" style="padding-right:10px; text-align:right">%</td>
				<td colspan="20" data-label="fra dato">&nbsp;</td>
				<td colspan="20" data-label="til dato">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="45" style="padding:9px 2px 7px 2px">Oppgj&oslash;r skjer til kontonummer:</td>
				<td colspan="55">&nbsp;</td>
			</tr>
		</tbody>
	</table>

	<table>
		<tbody>
			<tr>
				<td colspan="100">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="100">Spesifiser omkostningsbel&oslash;pet i oppstillingen (herunder eventuell forskuttering til fravikelse av eiendommen eller til vedlikehold, forbedring av denne jfr. tvfbl. &sect;&sect; 11-14 og 11-15):</td>
			</tr>
			<tr>
				<td colspan="100" style="height:1.5em">&nbsp;</td>
			</tr>
			<tr class="border">
				<td colspan="100" style="height:2em">&nbsp;</td>
			</tr>
			<tr class="border">
				<td colspan="100">Andre opplysninger av betydning for salgsarbeidet:</td>
			</tr>
			<tr>
				<td colspan="100" style="height:1.5em">&nbsp;</td>
			</tr>
			<tr class="border">
				<td colspan="100" style="height:2em">&nbsp;</td>
			</tr>
			<tr class="border">
				<td colspan="100">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="100">Jeg/vi er kjent med at jeg/vi kan gj&oslash;res ansvarlig for &oslash;kning i medhjelpers godtgj&oslash;relse som skyldes manglende opplysninger fra v&aring;r side om v&aring;re krav i eiendommen.</td>
			</tr>
			<tr>
				<td colspan="100">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="15">Firmanavn:</td>
				<td colspan="32" style="border-bottom:solid 1px black">[[mottaker.navn]]</td>
				<td colspan="4">&nbsp;</td>
				<td colspan="18">Kontaktperson:</td>
				<td colspan="31" style="border-bottom:solid 1px black">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="15">Telefon:</td>
				<td colspan="32" style="border-bottom:solid 1px black">&nbsp;</td>
				<td colspan="4">&nbsp;</td>
				<td colspan="18">E-post:</td>
				<td colspan="31" style="border-bottom:solid 1px black">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="48" style="border-bottom:solid 1px black; height:2.5em">&nbsp;</td>
				<td colspan="4">&nbsp;</td>
				<td colspan="48" style="border-bottom:solid 1px black; height:2.5em">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="48"><small>Sted, dato</small></td>
				<td colspan="4">&nbsp;</td>
				<td colspan="48"><small>Signatur</small></td>
			</tr>
		</tbody>
	</table>
</div>