<div id="vitecTemplate">
	<span vitec-template="resource:Vitec Stilark">&nbsp;</span>
	<style type="text/css">
		/* Indikere "Sett inn tekst her..." med <span class="insert-table"><span data-label="Sett inn tekst her..." class="insert"></span></span> */

		span.insert:empty {
			font-size: inherit !important;
			line-height: inherit !important;
			display: inline-block;
			background-color: lightpink;
			min-width: 2em !important;
			height: .7em !important;
			text-align: center;
		}

			span.insert:empty:before {
				content: attr(data-label);
			}

			span.insert:empty:hover {
				background-color: #fff;
				cursor: pointer;
			}

		.insert-table {
			display: inline-table;
		}

			.insert-table > span,
			.insert-table > span.insert {
				display: table-cell;
			}
	</style>
	<table style="width:100%">
		<tbody>
			<tr>
				<td>
					<div vitec-template="resource: Mottaker">&nbsp;</div>

					<p><strong>Vedr. salg av [[eiendom.gatenavnognr]] - [[komplettmatrikkelutvidet]] i [[eiendom.kommunenavn]] kommune</strong></p>

					<p>Vi har som avtalt utformet et utkast til salgsoppgave og annonse p&aring; ovennevnte eiendom, og oversender herved disse for gjennomlesning. Vi h&aring;per du er tilfreds med den m&aring;te vi presenterer eiendommen p&aring;.</p>

					<p>Skulle vi ha uteglemt ting eller det er opplysninger som er direkte feil, ber vi deg vennligst ta kontakt med oss snarest, slik at vi kan korrigere dette. Vi gj&oslash;r oppmerksom p&aring; at du er underlagt selgers opplysningsplikt under avhendingslovens &sect; 3-7 og &sect; 3-8 (&laquo;uriktige og/eller manglende opplysninger som selger kjenner til og som kj&oslash;per har grunn til &aring; regne med &aring; f&aring;&raquo;).</p>

					<p>Vennligst gi en tilbakemelding p&aring; at du godkjenner innholdet i salgsoppgave og annonse, gjerne p&aring; e-post [[operativmegler.epost]].&nbsp;N&aring;r godkjennelsen er mottatt vil vi starte salgsarbeidet. Det er fint om du kan gi oss en tilbakemelding innen <span class="insert-table"><span class="insert" data-label="dato"></span> </span> slik at vi kan overholde fristene for bestilling av annonse og trykking av salgsoppgave.</p>

					<p>Vi har som avtalt bestilt annonse(r) slik:</p>

					<p><span class="insert-table"> <span class="insert" data-label="Annonseringsdetaljer"></span> </span></p>

					<p>Vi takker s&aring; langt for tilliten og ser frem til et fortsatt godt samarbeid.</p>

					<div vitec-template="resource: Avsender">&nbsp;</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>