<div id="vitecTemplate"><span vitec-template="resource:Vitec Stilark">&nbsp;</span>
<table style="width:100%">
	<tbody>
		<tr>
			<td>
			<div vitec-template="resource: Mottaker">&nbsp;</div>

			<p><strong>Oversendelse av salgsoppgave p&aring; eiendommen [[eiendom.gatenavnognr]] - [[komplettmatrikkelutvidet]] i [[eiendom.kommunenavn]] kommune</strong></p>

			<p>Vi takker for din foresp&oslash;rsel p&aring; ovennevnte eiendom og oversender som avtalt salgsoppgave p&aring; denne.</p>

			<p>Vurderer du &aring; selge egen bolig er det bare &aring; ta kontakt med oss for &aring; avtale befaring.</p>

			<p>Vi st&aring;r til din disposisjon om du skulle ha noen sp&oslash;rsm&aring;l.</p>

			<div vitec-template="resource: Avsender">&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
</div>