<div id="vitecTemplate"><span vitec-template="resource:Vitec Stilark">&nbsp;</span>
<table cellspacing="0" style="border-collapse:collapse; table-layout:fixed; width:21cm">
	<tbody>
		<tr>
			<td colspan="30" style="padding-left:1cm"><small>[[meglerkontor.juridisknavn]]</small></td>
			<td colspan="40" style="text-align:center"><small>[[meglerkontor.adresse]], [[meglerkontor.postnr]] [[meglerkontor.poststed]]</small></td>
			<td colspan="30" style="padding-right:1cm; text-align:right"><small>Tlf: [[meglerkontor.tlf]]</small></td>
		</tr>
		<tr>
			<td colspan="30" style="padding-left:1cm"><small>Org.nr: [[meglerkontor.orgnr]]</small></td>
			<td colspan="40" style="text-align:center"><small>Bes&oslash;ksadresse: [[meglerkontor.besoksadresse]], [[meglerkontor.besokspostnr]] [[meglerkontor.besokspoststed]]</small></td>
			<td colspan="30" style="padding-right:1cm; text-align:right"><small>[[meglerkontor.epost]]</small></td>
		</tr>
	</tbody>
</table>
</div>