<div id="vitecTemplate">
	<span vitec-template="resource:Vitec Stilark">&nbsp;</span>
	<style type="text/css">
		#vitecTemplate table {
			width: 100%;
			table-layout: fixed;
			border-collapse: collapse;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}

			#vitecTemplate table tr.no-border td {
				border: none;
				height: auto;
			}

		#vitecTemplate .sign-field {
			display: inline-block;
			width: 48%;
			margin-top: 1cm;
			margin-right: 10px;
			border-top: solid 1px #000;
			vertical-align: top;
		}

		#vitecTemplate .witness-table {
			table-layout: fixed;
			width: 100%;
			border-collapse: collapse;
		}

			#vitecTemplate .witness-table td {
				border: solid 1px #000;
				height: 30px;
				vertical-align: middle;
				padding: 2px;
			}

				#vitecTemplate .witness-table td.header-cell {
					background-color: rgb(231, 230, 230);
					text-align: center;
				}

		#vitecTemplate td[data-label]:before {
			content: attr(data-label);
			text-align: left;
			color: #333;
			font-size: 7pt;
			line-height: 8pt;
			text-transform: uppercase;
			display: block;
			position: absolute;
			top: 1px;
		}

		#vitecTemplate td[data-label] {
			padding: 14px 2px 2px 2px;
			position: relative;
		}

		.insert-checkbox {
			display: inline-table;
			vertical-align: bottom;
			margin: 0 2px;
		}

			.insert-checkbox > span {
				line-height: 1.1;
				border: solid 1px #000;
				height: 1.1em;
				width: 1.1em;
				max-width: 1.1em;
				overflow: hidden;
				display: table-cell;
				text-align: center;
				white-space: nowrap;
			}

		/* tabellceller med lange data-choice-tekster */

		#vitecTemplate tr.checkbox-row td[data-choice] {
			padding-bottom: 24px;
		}
	</style>
	<table style="table-layout:fixed; width:100%">
		<tbody>
			<tr>
				<td colspan="100">
					<p style="text-align:right">Oppdragsnr: [[oppdrag.nr]]</p>

					<p style="text-align:center"><span style="font-size:14pt"> <strong>TRANSPORTFULLMAKT</strong> </span></p>

					<p>Undertegnede</p>
				</td>
			</tr>
			<tr>
				<td colspan="37"><strong>Navn</strong></td>
				<td colspan="45"><strong>Adresse</strong></td>
				<td colspan="18"><strong>[[selger.ledetekst_idnummer]]</strong></td>
			</tr>
		</tbody>
		<tbody vitec-foreach="selger in Model.selgere" vitec-if="Model.selgere.Count &gt; 0">
			<tr>
				<td colspan="37">[[*selger.navnutenfullmektigogkontaktperson]]</td>
				<td colspan="45">[[*selger.gatenavnognr]], [[*selger.postnr]] [[*selger.poststed]]</td>
				<td colspan="18">[[*selger.idnummer]]</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="100">
					<p>
						gir herved [[meglerkontor.navn]]/[[forretningsforer.navn]] ugjenkallelig fullmakt til &aring; transportere<br />
						adkomstrettighetene/borett til aksjenr. [[aksjeselskap.aksjenr]] p&aring;lydende kr $.UD([[aksjeselskap.paalydende]]), med eventuell tilh&oslash;rende partialobligasjon, tilknyttet leil. nr. [[eiendom.leilighetsnr]] i [[aksjeselskap.navn]] i [[eiendom.kommunenavn]] kommune med adresse [[eiendom.gatenavnognr]], [[eiendom.postnr]] [[eiendom.poststed]] til
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="37"><strong>Navn</strong></td>
				<td colspan="45"><strong>Adresse</strong></td>
				<td colspan="18"><strong>[[kjoper.ledetekst_idnummer]]</strong></td>
			</tr>
		</tbody>
		<tbody vitec-foreach="kjoper in Model.kjopere" vitec-if="Model.kjopere.Count &gt; 0">
			<tr>
				<td colspan="37">[[*kjoper.navnutenfullmektigogkontaktperson]]</td>
				<td colspan="45">[[*kjoper.gatenavnognr]], [[*kjoper.postnr]] [[*kjoper.poststed]]</td>
				<td colspan="18">[[*kjoper.idnummer]]</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td colspan="5" style="border-bottom:1px solid black">&nbsp;</td>
				<td colspan="95">Jeg er ikke gift</td>
			</tr>
			<tr>
				<td colspan="5" style="border-bottom:1px solid black">&nbsp;</td>
				<td colspan="95">Jeg er gift/registrert partner og ektefelle samtykker nedenfor</td>
			</tr>
			<tr>
				<td colspan="5">
					<div style="border-bottom:1px solid black">&nbsp;</div>
				</td>
				<td colspan="95">Jeg er gift/registrert partner, men eiendommen tjener ikke til felles bolig for meg og min ektefelle/registrerte partner</td>
			</tr>
			<tr>
				<td colspan="100">
					<table style="table-layout:fixed; width:48%">
						<tbody>
							<tr class="no-border">
								<td colspan="100" style="border-bottom:solid 1px #000000">
									<br />
									&nbsp;
								</td>
							</tr>
							<tr class="no-border">
								<td colspan="100">Sted / dato</td>
							</tr>
						</tbody>
					</table>

					<div style="page-break-inside:avoid">
						<table>
							<tbody>
								<tr class="no-border">
									<td colspan="100" style="vertical-align:top">
										<span vitec-foreach="selger in Model.selgere"> <span class="sign-field">[[*selger.navn]]</span> </span>

										<p>Evt. ektefelles samtykke:</p>
										<span class="sign-field">Navn ektefelle</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<p>&nbsp;</p>

					<p>Jeg/vi bevitner herved at denne fullmakten er undertegnet i mitt/v&aring;rt n&aelig;rv&aelig;r og at underskriverne er over 18 &aring;r. Jeg/vi er myndig(e) og fast bosatt i Norge.</p>

					<table class="witness-table">
						<tbody>
							<tr>
								<td colspan="41" data-label="Navn">&nbsp;</td>
								<td class="header-cell" colspan="8">1. vitne</td>
								<td colspan="2" style="border-style:none; border-width:0px">&nbsp;</td>
								<td colspan="41" data-label="Navn">&nbsp;</td>
								<td class="header-cell" colspan="8">2. vitne</td>
							</tr>
							<tr>
								<td colspan="49" data-label="Fødselsnummer">&nbsp;</td>
								<td colspan="2" style="border-style:none; border-width:0px">&nbsp;</td>
								<td colspan="49" data-label="Fødselsnummer">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="49" data-label="Adresse">&nbsp;</td>
								<td colspan="2" style="border-style:none; border-width:0px">&nbsp;</td>
								<td colspan="49" data-label="Adresse">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="49" data-label="Telefon">&nbsp;</td>
								<td colspan="2" style="border-style:none; border-width:0px">&nbsp;</td>
								<td colspan="49" data-label="Telefon">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="49" data-label="Sted/dato">&nbsp;</td>
								<td colspan="2" style="border-style:none; border-width:0px">&nbsp;</td>
								<td colspan="49" data-label="Sted/dato">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="49" data-label="Signatur">&nbsp;</td>
								<td colspan="2" style="border-style:none; border-width:0px">&nbsp;</td>
								<td colspan="49" data-label="Signatur">&nbsp;</td>
							</tr>
						</tbody>
					</table>

					<p><small>Vitner skal v&aelig;re to myndige personer som bor i Norge, evt. en person nevnt i tinglysingsforskriftens &sect; 3. N&aelig;re slektninger til fullmaktmottakeren kan ikke opptre som vitne. Dette gjelder ektefeller, foreldre, barn eller s&oslash;sken</small></p>
				</td>
			</tr>
		</tbody>
	</table>
</div>