<p><a id="re-rangecopy&amp;&amp;0.3826381797529942"></a></p>

<p>Hei,&nbsp;</p>

<p>&Aring; selge bolig uten tilstandsrapport er en betydelig risiko.</p>

<p>Etter lovendringen i 2022 kan man ikke lenger bruke generelle forbehold som &laquo;selges som den er&raquo;, og selger har en omfattende opplysningsplikt. Uten rapport blir det vanskeligere &aring; dokumentere at denne plikten er oppfylt, og kj&oslash;per f&aring;r et sterkere grunnlag for &aring; kreve prisavslag eller erstatning ved skjulte feil. Selger f&aring;r ansvar for skulte feil og mangler som ville blitt avdekket i en tilstandsrapport. Tilstandsrapport gir trygghet, reduserer risiko for tvister og beskytter mot kostbare etterspill.</p>

<p><a id="re-rangecopy&amp;&amp;0.3826381797529942"></a></p>

<p>Vi anbefaler derfor alle v&aring;re oppdragsgivere &aring; innhente tilstandsrapport i forbindelse med salg av bolig.&nbsp;</p>